{% extends 'security/layout.html.twig' %}


{% block header_h4 %}
  Alys - Connexion
{% endblock %}


{% block messages %}
  {# Error message #}
  {% if error %}
    <div class="alert alert-danger">
      {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
  {% endif %}

  {{ parent() }}
{% endblock %}


{% block form %}
  <form action="{{ path('login') }}" method="post">
    <div class="mb-4">
      <label for="username" class="col-sm-auto">Identifiant :</label>
      <input type="text" id="username" name="_username" class="col-sm-auto form-alike" value="{{ last_username }}" autofocus="true"/>
      <span data-toggle="tooltip" title="La première partie de votre adresse email Habitat et Humanisme"><i class="fas fa-question-circle text-secondary ml-2"></i></span>
    </div>
    
    <div class="mb-4">
      <label for="password" class="col-sm-auto">Mot de passe :</label>
      <input type="password" id="password" name="_password" class="col-sm-auto form-alike" />
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
    
    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}
    <div class="">
      {# <a href="{{ path('app.reset-pwd') }}" class="btn btn-sm btn-link">Mot de passe oublié ?</a> #}
      <button type="submit" class="btn btn-primary ml-2">Valider</button>
    </div>
  </form>
{% endblock %}
