{% extends 'security/layout.html.twig' %}


{% block header %}
  Réinitialisation de mot de passe
{% endblock %}


{% block messages %}
  {# Error message #}
  {% for message in app.flashes('error') %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endfor %}
{% endblock %}


{% block form %}
  <div class="alert alert-info">
    Renseignez votre identifiant pour recevoir vos nouvelles informations de connexion par email à l'adresse HH correspondante.
  </div>

  {{ form_start(form) }}
    <div class="d-flex justify-content-center align-items-center mb-4">
      <div class="col-auto">
        {{ form_label(form.username) }}
      </div>
      <div class="col-auto">
        {{ form_widget(form.username) }}
      </div>
      <span data-toggle="tooltip" title="La première partie de votre adresse email Habitat et Humanisme"><i class="fas fa-question-circle text-secondary ml-2"></i></span>
    </div>

    <div class="d-flex justify-content-center">
      <input type="submit" class="btn btn-primary mr-2" value="Valider"/>
      <a href="{{ path('login') }}" class="btn btn-outline-secondary">
        Annuler
      </a>
    </div>
  {{ form_end(form) }}
{% endblock %}
