{% extends 'security/layout.html.twig' %}
{% from 'macros.html.twig' import formButtons as formButtons %}


{% block header_h4 %}
  Réinitialisation de mot de passe
{% endblock %}


{% block form %}
  <div class="alert alert-info">
    Renseignez votre identifiant pour recevoir vos nouvelles informations de connexion par email à l'adresse HH correspondante.
  </div>

  {{ form_start(form) }}
    <div class="d-sm-flex justify-content-center align-items-center mb-4">
      <div class="col-sauto">
        {{ form_label(form.username) }}
      </div>
      <div class="col-auto">
        {{ form_widget(form.username) }}
      </div>
      <span data-toggle="tooltip" title="La première partie de votre adresse email Habitat et Humanisme"><i class="fas fa-question-circle text-secondary ml-2"></i></span>
    </div>

    {# Buttons Submit / Cancel #}
    {{ formButtons(path('login'), '', 'center') }}
  {{ form_end(form) }}
{% endblock %}
