<div class="mt-4 mb-4">
    <div class="d-flex justify-content-center">
        {# Table with all "building inspection item headers" #}
        <table class="table table-sm table-striped font-size-14" id="table-inspection-headers">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="align-middle table-inspection-rank">{{ constant('App\\Entity\\BuildingInspectionItemHeaders::LABEL_RANK') }} <i class="fas fa-sort"></i></th>
                    <th scope="col" class="align-middle table-inspection-theme">{{ constant('App\\Entity\\BuildingInspectionItemHeaders::LABEL_THEME') }} <i class="fas fa-sort"></i></th>
                    <th scope="col" class="align-middle table-inspection-name">{{ constant('App\\Entity\\BuildingInspectionItemHeaders::LABEL_NAME') }} <i class="fas fa-sort"></i></th>
                    <th scope="col" class="align-middle table-inspection-description">{{ constant('App\\Entity\\BuildingInspectionItemHeaders::LABEL_DESCRIPTION') }} <i class="fas fa-sort"></i></th>
                </tr>
            </thead>

            <tbody>
            {% for header in headers %}
                <tr>
                    <td class=" table-inspection-rank">{{ header.rank }}</td>
                    <td class=" table-inspection-theme">{{ header.theme }}</td>
                    <td class=" font-weight-bold table-inspection-name">{{ header.name }}</td>
                    <td class=" table-inspection-description">{{ header.description|nl2br }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {# Table with "building inspection items" for each item's headers #}
        <div id="table-inspection-body">
            <table class="table table-sm table-striped font-size-14">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="d-none table-inspection-rank">{{ constant('App\\Entity\\BuildingInspectionItemHeaders::LABEL_RANK') }} <i class="fas fa-sort"></i></th>
                        <th scope="col" class="d-none table-inspection-theme">{{ constant('App\\Entity\\BuildingInspectionItemHeaders::LABEL_THEME') }} <i class="fas fa-sort"></i></th>
                        <th scope="col" class="d-none table-inspection-name">{{ constant('App\\Entity\\BuildingInspectionItemHeaders::LABEL_NAME') }} <i class="fas fa-sort"></i></th>
                        <th scope="col" class="d-none table-inspection-description">{{ constant('App\\Entity\\BuildingInspectionItemHeaders::LABEL_DESCRIPTION') }} <i class="fas fa-sort"></i></th>
                        {% for inspection in inspections %}
                            <th scope="col" class="align-middle table-inspection-recap text-center text-dark" data-toggle="popover" data-content="{{ "Visite du %date% par %inspector%"|replace({'%date%': inspection.created|date('d/m/Y'), '%inspector%': inspection.inspector }) }}">
                                {{ inspection.created|date('d/m/y') }}
                                <br>
                                {{ inspection.inspector.initials }}
                                <br>
                                <a href="{{ path('app_inspection_view', {'id': inspection.id}) }}" class="btn btn-sm btn-xs btn-primary">
                                    <i class="fas fa-eye"></i>
                                    Voir
                                </a>
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for header in headers %}
                        <tr>
                            <td class="d-none table-inspection-rank">{{ header.rank }}</td>
                            <td class="d-none table-inspection-theme">{{ header.theme }}</td>
                            <td class="d-none font-weight-bold table-inspection-name">{{ header.name }}</td>
                            <td class="d-none table-inspection-description">{{ header.description|nl2br }}</td>
                            {% for inspection in inspections %}
                                {% for item in inspection.items if item.headers.id == header.id %}
                                    <td class="text-center table-inspection-recap">
                                        <a href="{{ path('app_inspection_view', {'id': inspection.id}) }}" class="text-dark" data-toggle="popover" data-content="{{ item.comment }}">
                                            {% if item.action  == '' %}
                                                <i class="fas fa-check text-success"></i>
                                            {% elseif item.action == constant('App\\Entity\\BuildingInspectionItem::ACTION_URGENT') %}
                                                <i class="fas fa-stopwatch text-danger"></i>
                                            {% elseif item.action == constant('App\\Entity\\BuildingInspectionItem::ACTION_FOLLOW') %}
                                                <i class="fas fa-arrow-circle-right text-primary"></i>
                                            {% elseif item.action == constant('App\\Entity\\BuildingInspectionItem::ACTION_REMEMBER') %}
                                                <i class="fas fa-bell text-warning"></i>
                                            {% endif %}
                                            {{ item.action }}
                                            {% if item.action  != '' %}
                                                <br>
                                                <i class="fas fa-user"></i>
                                                {{ item.decisionMaker }}
                                            {% endif %}
                                        </a>
                                    </td>
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
