{% extends 'layout-center.html.twig' %}


{% block card_body %}
  {{ form_start(form) }}

    <div class="row justify-content-between">
      <div class="col-sm-6">
        {{ form_row(form.name) }}
      </div>
    </div>

    {{ form_row(form.street) }}

    <div class="row justify-content-between">
      <div class="col-sm-3">
        {{ form_row(form.postalCode) }}
      </div>
    
      <div class="col-sm-9">
        {{ form_row(form.city) }}
      </div>
    </div>

    <div class="d-sm-flex">
      {{ form_row(form.ownerType) }}
    </div>

    {{ form_row(form.access) }}
{% endblock %}

{% block card_footer %}    
    <div class="d-flex justify-content-end">
      <input type="submit" class="btn btn-primary mr-2" value="Valider"/>
      <a href="{{ path('app_accomodation_list') }}" class="btn btn-outline-secondary">
        Annuler
      </a>
    </div>
  {{ form_end(form) }}
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script>
  (function() {
    function standardizeInput(input) {
      return input.normalize('NFD').replace(/[\u0300-\u036F]/g, "").toUpperCase();
    }


    // Remove accent and capitalize address and city
    document.getElementById("accomodation_street").addEventListener("input", function (e) {
      e.target.value = standardizeInput(e.target.value);
    });
    document.getElementById("accomodation_city").addEventListener("input", function (e) {
      e.target.value = standardizeInput(e.target.value);
    });

    // Replace with city name dynamic population
    document.getElementById("accomodation_postalCode").addEventListener("change", function (e) {
      const input = e.target.value; 
      if (input.match(/^6900\d$/)) {
        document.getElementById("accomodation_city").value = "LYON " + input[input.length - 1]; 
      }
    });
  })();
  </script>

{% endblock %}
