{% extends 'layout-large.html.twig' %}


{% block title %}
  Logements - {{ parent() }}
{% endblock %}


{% block header_h3 %}
  Liste des logements
{% endblock %}


{% block header_button %}
  {# button to add accomodation only visible for gla and admin #}
  {% if is_granted('ROLE_GLA') %}
    <a href="{{ path('app_accomodation_add') }}" class="btn btn-success">
      <i class="fas fa-plus"></i>
      Ajouter un logement
    </a>
  {% endif %}
{% endblock %}

    
{% block content %}
  
  <table class="table table-sm table-hover accomodations-table">

    <thead class="thead-light">
      <tr>
        <th scope="col">Adresse</th>
        <th scope="col">C.P.</th>
        <th scope="col">Ville</th>
        <th scope="col">Propriétaire</th>
        <th scope="col">Accès</th>
        {# edit button only visible for gla and admin #}
        {% if is_granted('ROLE_GLA') %}
          <th></th>
        {% endif %}
      </tr>
    </thead>

    <tbody>

      {% for accomodation in accomodations %}
        <tr id="accomodation-{{ accomodation.id }}">
          <td>
            {% if accomodation.name %}
              {{ accomodation.name }}
              <br>
            {% endif %}
            {{ accomodation.street }}
          </td>
          <td>{{ accomodation.postalCode }}</td>
          <td>{{ accomodation.city }}</td>
          <td>{{ accomodation.ownerType }}</td>
          <td>{{ accomodation.access }}</td>
          {# edit button only visible for gla and admin #}
          {% if is_granted('ROLE_GLA') %}
            <td>
              <a href="{{ path('app_accomodation_edit', {'id': accomodation.id}) }}" class="btn btn-sm btn-xs btn-outline-primary">
                <i class="fas fa-edit"></i>
                Modifier
              </a>
            </td>
          {% endif %}    
        </tr>
      {% endfor %}

    </tbody>
  </table>
  
{% endblock %}
