{% extends 'layout-large.html.twig' %}


{% block title %}
  Logements - {{ parent() }}
{% endblock %}


{% block header_h2 %}
  Liste des logements
{% endblock %}

{% block header_button %}
  {# button to add accomodation only visible for gla and admin #}
  {% if is_granted('ROLE_GLA') %}
    <a href="{{ path('app_accomodation_new') }}" class="btn btn-success mr-2">
      <i class="fas fa-plus"></i>
      Ajouter un logement
    </a>
  {% endif %}
  <a href="{{ constant('ACCOMODATION_SP_FOLDER', accomodations[0]) }}" target="_blank" class="btn btn-sm btn-secondary mt-3 mt-sm-0">
    <i class="fas fa-external-link-alt"></i>
    Dossier Immeubles
  </a>
{% endblock %}

    
{% block content %}
  {# Search form #}
  <div class="row justify-content-center">
    <div class="col-11 card bg-light py-3 mb-3">
      <div class="d-flex justify-content-between">
        {# Filter address #}
        <div class="d-flex align-items-center">
          <small>Recherche par adresse :</small>
          <div class="input-group-sm input-date mx-2">
            <input type="text" id="addressInput" class="col-sm-auto form-alike-sm" />
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Table #}
  <table class="table table-sm table-hover accomodations-table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Adresse <i class="fas fa-sort"></i></th>
        <th scope="col">C.P. <i class="fas fa-sort"></i></th>
        <th scope="col">Ville <i class="fas fa-sort"></i></th>
        <th scope="col">Propriétaire <i class="fas fa-sort"></i></th>
        <th scope="col">Accès <i class="fas fa-sort"></i></th>
        {# edit button only visible for gla and admin #}
        {% if is_granted('ROLE_GLA') %}
          <th></th>
        {% endif %}
      </tr>
    </thead>

    <tbody>
      {% for accomodation in accomodations %}
        <tr id="accomodation-{{ accomodation.id }}">
          <td>
            {{ accomodation.street }}
            {% if accomodation.name %}
              <br>
              {{ accomodation.name }}
            {% endif %}
          </td>
          <td>{{ accomodation.postalCode }}</td>
          <td>{{ accomodation.city }}</td>
          <td>{{ accomodation.ownerType }}</td>
          <td><div class="access-ellipsis" data-toggle="popover" data-content="{{ accomodation.access }}">{{ accomodation.access }}</div></td>
          {# edit button only visible for gla and admin #}
          {% if is_granted('ROLE_GLA') %}
            <td>
              <a href="{{ path('app_accomodation_edit', {'id': accomodation.id}) }}" class="btn btn-sm btn-xs btn-outline-primary">
                <i class="fas fa-edit"></i>
                Modifier
              </a>
            </td>
          {% endif %}    
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('js/functions.js') }}"></script>
 
  <script>
    (function() {
      let table = document.querySelector('table'),
          searchInput = document.getElementById('addressInput');


      // Add table sorting on clicking on one of its header (except last column)
      sortTable(table, 1);

      // Filter table on address search input
      searchInput.addEventListener('input', () => {
        let search = capitalizeInput(searchInput.value.trim()),
            rows = table.getElementsByTagName('tr');

        // Row 0 is header
        for (i = 1, iMax = rows.length; i < iMax; i++) {
          let tr = rows[i];

          // Add or remove 'hidden' attribute based on cell value / search match
          if (tr.getElementsByTagName('td')[0].innerHTML.indexOf(search) === -1) {
            tr.setAttribute('hidden', 'true');
          } else {
            tr.removeAttribute('hidden');
          }
        }
      });
    })();
  </script>
{% endblock %}
