{% extends 'accomodation/layout.html.twig' %}

{% block layout_h3 %}
  <div class="row justify-content-between">
    <div class="col-md-9">
      Logements
    </div>
    <div class="col-md-3">
      <a href="{{ path('app_accomodation_add') }}" class="btn btn-primary">
        <i class="fas fa-plus"></i>
        Ajouter un logement
      </a>
    </div>
  </div>
{% endblock %}

{% block content %}
  
  <table class="table table-sm table-hover">

    <thead class="thead-light">
      <tr>
        <th scope="col">Adresse</th>
        <th scope="col">Nom</th>
        <th scope="col">Code postal</th>
        <th scope="col">Ville</th>
        <th scope="col">Propriétaire</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      {% for accomodation in accomodations %}
        <tr>
          <td>{{ accomodation.street }}</td>
          <td>{{ accomodation.name }}</td>
          <td>{{ accomodation.postalCode }}</td>
          <td>{{ accomodation.city }}</td>
          <td>{{ accomodation.ownerType }}</td>
          <td>
            <a href="{{ path('app_accomodation_edit', {'id': accomodation.id}) }}" class="btn btn-outline-primary btn-sm">
              <i class="fas fa-edit"></i>
              Modifier
            </a>
          </td>
          <td>
            <a href="{{ path('app_accomodation_delete', {'id': accomodation.id}) }}" class="btn btn-outline-danger btn-sm">
              <i class="fas fa-trash-alt"></i>
              Supprimer
            </a>
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
  
{% endblock %}