{% extends 'layout-large.html.twig' %}


{% block title %}
  Logements - {{ parent() }}
{% endblock %}


{% block header_h2 %}
  Liste des logements
{% endblock %}

{% block header_button %}
  {# button to add accomodation only visible for gla and admin #}
  {% if is_granted('ROLE_GLA') %}
    <a href="{{ path('app_accomodation_new') }}" class="btn btn-success">
      <i class="fas fa-plus"></i>
      Ajouter un logement
    </a>
  {% endif %}
{% endblock %}

    
{% block content %}
  
  <table class="table table-sm table-hover accomodations-table">

    <thead class="thead-light">
      <tr>
        <th scope="col">Adresse <i class="fas fa-sort"></i></th>
        <th scope="col">C.P. <i class="fas fa-sort"></i></th>
        <th scope="col">Ville <i class="fas fa-sort"></i></th>
        <th scope="col">Propriétaire <i class="fas fa-sort"></i></th>
        <th scope="col">Accès <i class="fas fa-sort"></i></th>
        {# edit button only visible for gla and admin #}
        {% if is_granted('ROLE_GLA') %}
          <th></th>
        {% endif %}
      </tr>
    </thead>

    <tbody>
      {% for accomodation in accomodations %}
        <tr id="accomodation-{{ accomodation.id }}">
          <td>
            {{ accomodation.street }}
            {% if accomodation.name %}
              <br>
              {{ accomodation.name }}
            {% endif %}
          </td>
          <td>{{ accomodation.postalCode }}</td>
          <td>{{ accomodation.city }}</td>
          <td>{{ accomodation.ownerType }}</td>
          <td>{{ accomodation.access }}</td>
          {# edit button only visible for gla and admin #}
          {% if is_granted('ROLE_GLA') %}
            <td>
              <a href="{{ path('app_accomodation_edit', {'id': accomodation.id}) }}" class="btn btn-sm btn-xs btn-outline-primary">
                <i class="fas fa-edit"></i>
                Modifier
              </a>
            </td>
          {% endif %}    
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('js/functions.js') }}"></script>
 
  <script>
    (function() {
      // Add table sorting on clicking on one of its header
      tableHeadRows = document.querySelectorAll('th');
      
      for(let i = 0, c = tableHeadRows.length - 1; i < c; i++) {
        tableHeadRows[i].addEventListener('click', () => {
          sortTable(document.querySelector('table'), i);
        });
      }
    })();
  </script>
{% endblock %}
