{% extends 'mission/layout.html.twig' %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block layout_h3 %}
  Créer une fiche mission
{% endblock %}

{% block form_content %}

  {{ form_start(form) }}

    {{ form_widget(form.status, {'attr': {'hidden': 'true'}}) }}
    {{ form_widget(form.dateAssigned, {'attr': {'hidden': 'true'}}) }}
    {{ form_widget(form.dateFinished, {'attr': {'hidden': 'true'}}) }}
    {{ form_widget(form.volunteer, {'attr': {'hidden': 'true'}}) }}

    <div class="row">
      <div class="col-5">
        {{ form_row(form.gla) }}
      </div>
      <div class="col-5 offset-2">
        {{ form_row(form.dateCreated, {'attr': {'readonly': 'true'}}) }}
      </div>
    </div>

    {{ form_row(form.accomodation) }}

    <div class="form-group">
      <label for="accomodation_ownerType" class="form-control-label">Propriétaire :</label>
      <input type="text" id="accomodation_ownerType" name="accomodation[ownerType]" readonly="true" class="form-control"/>
    </div>

    <div class="row justify-content-end">
      <a href="{{ path('app_accomodation_add') }}" class="btn btn-sm btn-outline-secondary mr-4">
        <i class="fas fa-plus"></i>
        Ajouter une adresse
      </a>
    </div>

    <br>
    <br>

    {{ form_row(form.description) }}
    {{ form_row(form.info) }}
    {{ form_widget(form.conclusions, {'attr': {'hidden': 'true'}}) }}

    {{ form_row(form.attachment) }}
    
    <div class="row justify-content-end align-items-center">
      <input type="submit" class="btn btn-primary mr-2" value="Créer la Fiche Mission"/>
      <a href="{{ path('app_missions_list') }}" class="btn btn-outline-secondary mr-4">
        Annuler
      </a>
    </div>

  {{ form_end(form) }}

  <br>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script>
  // Prepopulate field "info" with accomodation access
  function getAccomodationDetails() {
    $.getJSON("{{ path('app_accomodation_details') }}",
              {'id': $("#mission_accomodation").val()},
              function(data){
                $("#mission_info").val(data.access);
                $("#accomodation_ownerType").val(data.ownerType);
              });
  }

  $("body").bind("load", getAccomodationDetails());
  $("#mission_accomodation").change(getAccomodationDetails);
  </script>

{% endblock %}