{% extends 'layout-center.html.twig' %}


{% block header_h3 %}
  Créer une fiche mission
{% endblock %}


{% block card_body %}
  {{ form_start(form) }}

    {{ form_widget(form.status, {'attr': {'hidden': 'true'}}) }}
    {{ form_widget(form.dateAssigned, {'attr': {'hidden': 'true'}}) }}
    {{ form_widget(form.dateFinished, {'attr': {'hidden': 'true'}}) }}
    {{ form_widget(form.volunteer, {'attr': {'hidden': 'true'}}) }}

    <div class="row justify-content-between">
      <div class="col-sm d-flex">
        {{ form_row(form.gla) }}
      </div>
      <div class="col-sm d-flex justify-content-sm-end">
        {{ form_row(form.dateCreated, {'attr': {'readonly': 'true'}}) }}
      </div>
    </div>

    {{ form_row(form.accomodation) }}

    <div class="row justify-content-between">
      <div class="col-sm order-sm-2 d-flex justify-content-end align-items-start">
        <a href="{{ path('app_accomodation_add') }}" class="btn btn-sm btn-outline-secondary">
          <i class="fas fa-plus"></i>
          Ajouter une adresse
        </a>
      </div>

      <div class="d-flex">
        <div class="col-sm form-group">
          <label for="accomodation_ownerType" class="form-control-label">Propriétaire :</label>
          <input type="text" id="accomodation_ownerType" name="accomodation[ownerType]" readonly="true" class="form-control"/>
        </div>
      </div>
    </div>

    <br>

    {{ form_row(form.description) }}
    {{ form_row(form.info) }}
    {{ form_widget(form.conclusions, {'attr': {'hidden': 'true'}}) }}

    {{ form_label(form.attachment) }}
    <div class="alert alert-info">
      Il n'est possible de joindre qu'<strong>un seul fichier</strong>, au format <strong>PDF uniquement</strong>.
    </div>
    {{ form_widget(form.attachment) }}
{% endblock %}

{% block card_footer %}
    <div class="d-flex justify-content-end">
      <input type="submit" class="btn btn-primary mr-2" value="Créer la fiche mission"/>
      <a href="{{ path('app_missions_add') }}" class="btn btn-outline-secondary">
        Vider
      </a>
    </div>

  {{ form_end(form) }}
{% endblock %}

{% block javascripts %}

  {{ parent() }}

  <script>
  // Prepopulate fields "owner type" and "info" with selected accomodation info
  function getAccomodationInfo() {

    const id = encodeURIComponent(document.getElementById('mission_accomodation').value);
    let xhr = new XMLHttpRequest();

    xhr.open('POST', "{{ path('app_accomodation_info') }}");
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xhr.send('id=' + id);

    xhr.addEventListener('readystatechange', function() {

      if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
        
        var data = JSON.parse(xhr.responseText);

        document.getElementById('accomodation_ownerType').value = data.ownerType;
        document.getElementById('mission_info').value = data.access;

      } else if (xhr.readyState === XMLHttpRequest.DONE && xhr.status !== 200) {
        
        console.error('Erreur lors de la requête Ajax');

      }

    });
  }

  window.addEventListener('load', getAccomodationInfo);
  document.getElementById('mission_accomodation').addEventListener('change', getAccomodationInfo);
  </script>

{% endblock %}
