{% extends 'mission/layout.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block header_h2 %}
  Modifier la fiche mission n°{{ mission.id }}
{% endblock %}
  

{% block card_body %}
  {# Modal to confirm mission delete #}
  {# only visible for admin or mission's GLA #}
  {% if is_granted('edit', mission) %}
    {% set modalHeader = 'Supprimer la fiche mission' %}
    {% set modalBody = 'Confirmez-vous la suppression de cette fiche mission ?' %}
    {% set btnPath = path('app_mission_delete', {'id': mission.id}) %}
    
    {{ macros.modal('delete', modalHeader, modalBody, btnPath, 'btn-danger', 'Supprimer') }}
  {% endif %}

  {# Form #}
  {{ form_start(form) }}

    <div class="d-sm-flex align-items-center">
      <div class="col-sm-4 col-md-3 col-xl-3 mt-2 text-center">
          {{ form_label(form.activity) }}
      </div>
      <div class="col-12 col-sm-6 col-md-4">
          {{ form_widget(form.activity, {'attr': {'disabled': 'true'}}) }}
      </div>
    </div>

    <hr>

    <div class="row justify-content-between">
      <div class="d-flex">
        <div class="col-sm">
          {{ form_row(form.status, {'attr': {'readonly': 'true'}}) }}
          {{ form_row(form.gla, {'attr': {'disabled': 'true'}}) }}
          {# Volunteer is only editable by Admin #}
          {% if is_granted(constant('App\\Entity\\User::ROLE_ADMIN')) %}
            {{ form_row(form.volunteer) }}
          {% else %}
            {{ form_row(form.volunteer, {'attr': {'disabled': 'true'}}) }}
          {% endif %}
        </div>
      </div>
      <div class="d-flex">
        <div class="col-sm">
          {{ form_row(form.dateCreated, {'attr': {'readonly': 'true'}}) }}
          {# Date of assignment is only editable by Admin #}
          {% if is_granted(constant('App\\Entity\\User::ROLE_ADMIN')) %}
            {{ form_row(form.dateAssigned, {'attr': {'placeholder': 'jj/mm/aaaa'}}) }}
          {% else %}
            {{ form_row(form.dateAssigned, {'attr': {'readonly': 'true'}}) }}
          {% endif %}
          {% if is_granted(constant('App\\Entity\\User::ROLE_VOLUNTEER')) %}
            {{ form_row(form.dateFinished, {'attr': {'placeholder': 'jj/mm/aaaa'}}) }}
          {% else %}
            {{ form_row(form.dateFinished, {'attr': {'readonly': 'true'}}) }}
          {% endif %}
        </div>
      </div>
    </div>

    {{ form_row(form.address, {'attr': {'disabled': 'true'}}) }}
    
    {# Owner type #}
    <div class="d-flex">
      <div class="form-group">
        <label for="address_ownerType" class="form-control-label">Propriétaire :</label>
        <input type="text" id="address_ownerType" name="address[ownerType]" readonly="true" class="form-control" value="{{ mission.address.ownerType }}" />
      </div>
    </div>

    <br>

    {# Description and info #}
    {# only editable by admin or mission's GLA #}
    {% if is_granted('edit', mission) %}
      {{ form_row(form.description) }}
      {{ form_row(form.info) }}
    {% else %}
      {{ form_row(form.description, {'attr': {'readonly': 'true'}}) }}
      {{ form_row(form.info, {'attr': {'readonly': 'true'}}) }}
    {% endif %}

    {# Attachment #}
    {# only visible for admin or mission's GLA #}
    {% if is_granted('edit', mission) %}
      {{ form_label(form.attachment) }}
      <div class="alert alert-info">
        <a href="#" class="close" data-dismiss="alert" aria-label="Fermer">&times;</a>
        Il n'est possible de joindre qu'<strong>un seul fichier</strong>, au format <strong>PDF uniquement</strong>.
      </div>
      {% if attachmentUrl %}
        <div class="alert alert-warning">
          <a href="#" class="close" data-dismiss="alert" aria-label="Fermer">&times;</a>
          <strong>Attention, cette mission a déjà une pièce jointe !</strong>
          Pour la voir, <a href="{{ asset('uploads/pdf/' ~ attachmentUrl) }}" target="_blank" class="alert-link">cliquez ici</a>.<br>
          Si vous ajoutez un nouveau fichier, il remplacera le fichier existant.<br>
        </div>
      {% endif %}
      {{ form_widget(form.attachment) }}
    {% else %}
      {{ form_widget(form.attachment, {'attr': {'hidden': 'true'}}) }}
    {% endif %}

    <br>
    
    {{ form_row(form.conclusions) }}
    {# Show reminder to fill in dateFinished to the volunteer assigned when conclusions is filled #}
    {% if is_granted('simpleEdit', mission) %}
      <div id="conclusionsAlert" class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert" aria-label="Fermer">&times;</a>
        Si vous avez terminé la mission n'oubliez pas de renseigner une <a href="#mission_dateFinished">date de fin de mission</a>
      </div>
    {% endif %}

    <br>

    {# Buttons Submit / Cancel #}
    {{ macros.formButtons(path('app_mission_view', {'id': mission.id})) }}
  {{ form_end(form) }}
{% endblock %}


{% block card_footer_left %}
  {# Delete button opening a modal #}
  {# only visible for admin or mission's GLA #}
  {% if is_granted('edit', mission) %}
    <button class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal">
      <i class="fas fa-trash-alt"></i>
      Supprimer la fiche mission
    </button>
  {% endif %}
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script>
    (function() {
      let caca = "{{ mission.activity }}";
        console.log(caca);
      // Show / hide alert if conclusions has / not text
      function showConclusionsAlert() {
        let conclusionsAlertElt = document.getElementById('conclusionsAlert');

        if (document.getElementById('mission_conclusions').value && !document.getElementById('mission_dateFinished').value) {
          conclusionsAlertElt.classList.remove('d-none');
        } else {
          conclusionsAlertElt.classList.add('d-none');
        }
      }

      // Check if alert must be visible on page load and when conclusions value change
      document.addEventListener('DOMContentLoaded', showConclusionsAlert);
      document.getElementById('mission_conclusions').addEventListener('change', showConclusionsAlert);
      document.getElementById('mission_dateFinished').addEventListener('change', showConclusionsAlert);

      // Un-disable address, GLA and volunteer select to post data on form submit
      document.querySelector('form').addEventListener('submit', () => {
        document.getElementById('mission_address').disabled = false;
        document.getElementById('mission_gla').disabled = false;
        document.getElementById('mission_volunteer').disabled = false;
        document.getElementById('mission_activity').disabled = false;
      });
    })();
  </script>
{% endblock %}
