{% extends 'layout-center.html.twig' %}


{% block header_h2 %}
  Modifier la fiche mission n°{{ mission.id }}
{% endblock %}
  

{% block card_body %}
  {# Modal to confirm mission delete #}
  {# only visible for admin or mission's GLA #}
  {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_GLA') and mission.gla == app.user.name) %}
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Supprimer la fiche mission</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Confirmez-vous la suppression de cette fiche mission ?
          </div>
          <div class="modal-footer">
            <a href="{{ path('app_mission_delete', {'id': mission.id}) }}" class="btn btn-danger">Supprimer</a>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {# Form #}
  {{ form_start(form) }}

    <div class="row justify-content-between">
      <div class="d-flex">
        <div class="col-sm">
          {{ form_row(form.status, {'attr': {'readonly': 'true'}}) }}
          {{ form_row(form.gla, {'attr': {'readonly': 'true'}}) }}
          {{ form_row(form.volunteer, {'attr': {'autocomplete': 'off', 'placeholder': 'Saisir un nom'}}) }}
          <div class="dropdown">
            <div id ="volunteerSearchResults" class="dropdown-menu searchResults">
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="col-sm">
          {{ form_row(form.dateCreated, {'attr': {'readonly': 'true'}}) }}
          {{ form_row(form.dateAssigned) }}
          {{ form_row(form.dateFinished) }}
        </div>
      </div>
    </div>

    {{ form_row(form.accomodation, {'attr': {'readonly': 'true'}}) }}
    
    <div class="d-flex">
      <div class="form-group">
        <label for="accomodation_ownerType" class="form-control-label">Propriétaire :</label>
        <input type="text" id="accomodation_ownerType" name="accomodation[ownerType]" readonly="true" class="form-control" value="{{ mission.accomodation.ownerType }}" />
      </div>
    </div>

    <br>

    {{ form_row(form.description) }}

    {{ form_row(form.info) }}

    {# only visible for admin or mission's GLA #}
    {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_GLA') and mission.gla == app.user.name) %}
      {{ form_label(form.attachment) }}
      {% if mission.attachment %}
        <div class="alert alert-info">
          <a href="#" class="close" data-dismiss="alert" aria-label="Fermer">&times;</a>
          Il n'est possible de joindre qu'<strong>un seul fichier</strong>, au format <strong>PDF uniquement</strong>.
        </div>
        <div class="alert alert-warning">
          <a href="#" class="close" data-dismiss="alert" aria-label="Fermer">&times;</a>
          <strong>Attention, cette mission a déjà une pièce jointe !</strong>
          Pour la voir, <a href="{{ asset('uploads/pdf/' ~ attachmentUrl) }}" target="_blank" class="alert-link">cliquez ici</a>.<br>
          Si vous ajoutez un nouveau fichier, il remplacera le fichier existant.<br>
        </div>
      {% endif %}
      {{ form_widget(form.attachment) }}
    {% else %}
      {{ form_widget(form.attachment, {'attr': {'hidden': 'true'}}) }}
    {% endif %}

    <br>
    
    {{ form_row(form.conclusions) }}

    <br>

    <div class="d-flex justify-content-end">
      <input type="submit" class="btn btn-primary mr-2" value="Valider"/>
      <a href="{{ path('app_mission_view', {'id': mission.id}) }}" class="btn btn-outline-secondary">
        Annuler
      </a>
    </div>
  {{ form_end(form) }}
{% endblock %}

{% block card_footer %}
  {# Delete button opening a modal #}
  {# only visible for admin or mission's GLA #}
  {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_GLA') and mission.gla == app.user.name) %}
    <button class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal">
      <i class="fas fa-trash-alt"></i>
      Supprimer la fiche mission
    </button>
  {% endif %}
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('js/ajax.js') }}"></script>
  <script src="{{ asset('js/searchSuggestions.js') }}"></script>

  <script>
    (function() {
      // Display suggestions of GLAs in a dropdown with user input
      // arguments : user category, controller url
      searchSuggestions('volunteer', "{{ path('app_user_suggestions') }}");
    })();
  </script>
{% endblock %}
