{% extends 'mission/layout.html.twig' %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block layout_h3 %}
  Modifier la fiche mission
{% endblock %}

{% block form_content %}
  
  {{ form_start(form) }}

    <div class="row justify-content-between">
      <div class="col-4">
        {{ form_row(form.status, {'attr': {'readonly': 'true'}}) }}
      </div>
      <div class="col-4">
        {{ form_row(form.dateCreated, {'attr': {'readonly': 'true'}}) }}
      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col-4">
        {{ form_row(form.gla, {'attr': {'readonly': 'true'}}) }}
      </div>
      <div class="col-4">
        {{ form_row(form.dateAssigned) }}
      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col-4">
        {{ form_row(form.volunteer) }}
      </div>
      <div class="col-4">
        {{ form_row(form.dateFinished) }}
      </div>
    </div>

    {{ form_row(form.accomodation, {'attr': {'readonly': 'true'}}) }}
    
    <div class="form-group">
      <label for="accomodation_ownerType" class="form-control-label">Propriétaire :</label>
      <input type="text" id="accomodation_ownerType" name="accomodation[ownerType]" readonly="true" class="form-control" value="{{ mission.accomodation.ownerType }}" />
    </div>

    <br>
    <br>

    {{ form_row(form.description) }}
    {{ form_row(form.info) }}
    {{ form_row(form.conclusions) }}

    {{ form_label(form.attachment) }}
    {% if mission.attachment %}
      <div class="alert alert-warning">
        Attention, cette mission a déjà une pièce jointe ! Si vous ajoutez un fichier, il remplacera le fichier existant.<br>
        Pour voir le PDF actuellement enregistré, <a href="{{ asset('uploads/pdf/' ~ attachmentUrl) }}" target="_blank" class="alert-link">cliquez ici</a>.
      </div>
    {% endif %}
    {{ form_widget(form.attachment) }}

    <hr>

    <div class="row justify-content-end align-items-center">
      <input type="submit" class="btn btn-primary mr-2" value="Valider"/>
      <a href="{{ path('app_missions_view', {'id': mission.id}) }}" class="btn btn-outline-secondary mr-4">
        Annuler
      </a>
    </div>
  {{ form_end(form) }}

  <br>
{% endblock %}