{% extends 'layout-large.html.twig' %}


{% block title %}
  Fiches mission - {{ parent() }}
{% endblock %}


{% block header_h2 %}
  Liste des fiches mission
{% endblock %}

{% block header_button %}
  {# new mission button only visible for gla (and admin) #}
  {% if is_granted('ROLE_GLA') %}
    <a href="{{ path('app_mission_new') }}" class="btn btn-success">
      <i class="fas fa-plus"></i>
      Créer une fiche mission
    </a>
  {% endif %}
{% endblock %}


{% block content %}
  <h3>Missions à attribuer :</h3>

  <table id="newMissions" class="table table-hover">
    <thead>
      <tr class="w3-deep-orange">
        <th scope="col">N°</th>
        <th scope="col">Date demande</th>
        <th scope="col">Provenance GLA</th>
        <th scope="col">Adresse</th>
        <th scope="col">Description mission</th>
        <th scope="col">Statut</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for mission in newMissions %}
        <tr id="mission-{{ mission.id }}">
          <td>{{ mission.id }}</td>
          <th scope="row">{{ mission.dateCreated|date('d/m/y') }}</th>
          <td>{{ mission.gla }}</td>
          {# address #}
          <td>
            {% if mission.accomodation.name %}
              {{ mission.accomodation.name }} - 
            {% endif %}
            {{ mission.accomodation.street }}
            <br>
            {{ mission.accomodation.postalCode }} {{ mission.accomodation.city }}
          </td>
          <td><div class="text-ellipsis">{{ mission.description }}</div></td>
          <td>{{ mission.status }}</td>
          {# view button #}
          <td>
            <a href="{{ path('app_mission_view', {'id': mission.id}) }}" class="btn btn-sm btn-primary">
              <i class="fas fa-eye"></i>
              Voir
            </a>
          </td>
          {# edit button only visible for admin or mission's gla #}
          {% if is_granted('simpleEdit', mission) %}
            <td>
              <a href="{{ path('app_mission_edit', {'id': mission.id}) }}" class="btn btn-sm btn-outline-primary">
                <i class="fas fa-edit"></i>
                Modifier
              </a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>

  </table>

  <hr>

  <h3>Missions en cours ou terminées :</h3>

  {# User role passed to JS through data attributes #}
  <div id="userData" data-name="{{ app.user.name }}" data-is-gla="{{ is_granted('ROLE_GLA') ? true : false }}" data-is-volunteer="{{ is_granted('ROLE_VOLUNTEER') ? 'true' : 'false' }}" class="d-flex align-items-center">
    <input type="checkbox" id="myMissionsCheckbox" name="myMissionsCheckbox" class="mb-2" />
    <label for="myMissionsCheckbox" class="mb-2 ml-2">Afficher uniquement mes missions</label>
  </div>


  <table id="otherMissions" class="table table-hover">

    <thead class="thead-light">
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Date demande</th>
        <th scope="col">Provenance GLA</th>
        <th scope="col">Adresse</th>
        <th scope="col">Bénévole</th>
        <th scope="col">Statut</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for mission in otherMissions %}
        <tr id="mission-{{ mission.id }}" class="{{ mission.status == constant('STATUS_CLOSED', mission) ? 'text-secondary' }}">
          <td>{{ mission.id }}</td>
          <th scope="row">{{ mission.dateCreated|date('d/m/y') }}</th>
          <td>{{ mission.gla }}</td>
          {# address #}
          <td>
            {% if mission.accomodation.name %}
              {{ mission.accomodation.name }} - 
            {% endif %}
            {{ mission.accomodation.street }}
            <br>
            {{ mission.accomodation.postalCode }} {{ mission.accomodation.city }}
          </td>
          <td>{{ mission.volunteer }}</td>
          <td>{{ mission.status }}</td>
          {# view button #}
          <td>
            <a href="{{ path('app_mission_view', {'id': mission.id}) }}" class="btn btn-sm btn-primary">
              <i class="fas fa-eye"></i>
              Voir
            </a>
          </td>
          {# edit button only visible if mission is not closed and user is admin or mission's gla or volunteer #}
          {% if mission.status != constant('STATUS_CLOSED', mission) and is_granted('simpleEdit', mission) %}
            <td>
              <a href="{{ path('app_mission_edit', {'id': mission.id}) }}" class="btn btn-sm btn-outline-primary">
                <i class="fas fa-edit"></i>
                Modifier
              </a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script>
    (function() {
      let name, isGla, isVolunteer;


      // Filter table based on array of filters as array of arrays [td_index, value]
      function filterTable(table, filters) {
        let tr = table.getElementsByTagName("tr");

        // Case unsensitive filter
        filters.forEach(filter => {
          filter[1] = filter[1].toUpperCase();
        });

        // Loop through all table rows, and hide those who don't match the search query
        for (let i = 0, c = tr.length; i < c; i++) {
          td = tr[i].getElementsByTagName("td");

          // For each row, loop through filters elements until there is a match. If no match, hide row
          for (let j = 0, filtersLength = filters.length; j < filters.length; j++) {
            let filterIndex = filters[j][0],
                filterValue = filters[j][1],
                cell = td[filterIndex];

            if (cell) {
              if (cell.innerHTML.toUpperCase() === filterValue) {
                tr[i].style.display = "";
                break;
              } else if (j === filtersLength - 1) {
                tr[i].style.display = "none";
              }
            }
          }
        }
      }

      // Show all table rows
      function unfilterTable(table) {
        let tr = table.getElementsByTagName("tr");

        for (let i = 0, c = tr.length; i < c; i++) {
          tr[i].style.display = "";
        }
      }


      // Get user's name, isGla and isVolunteer from Twig
      document.addEventListener('DOMContentLoaded', function() {
        let userDataElt = document.getElementById('userData');
        if (userDataElt) {
          name = userDataElt.getAttribute('data-name');
          isGla = userDataElt.getAttribute('data-is-gla');
          isVolunteer = userDataElt.getAttribute('data-is-volunteer');
        }
      });

      // If myMissionsCheckbox is checked, show only missions where user is gla and/or volunteer
      document.getElementById('myMissionsCheckbox').addEventListener('change', function (e) {
        let otherMissionsTable = document.getElementById('otherMissions'),
            value = name.toUpperCase();

        if(e.target.checked) {
          let filters = [];
          if (isGla) {
            filters.push([1, value]);
          }
          if (isVolunteer) {
            filters.push([3, value]);
          }
          filterTable(otherMissionsTable, filters);
        } else {
          unfilterTable(otherMissionsTable);
        }
      });
    })();
  </script>
{% endblock %}
