{% extends 'mission/layout.html.twig' %}
{% from 'macros.html.twig' import formButtons as formButtons %}


{% block header_h2 %}
  Créer une fiche mission
{% endblock %}


{% block card_body %}
  {{ form_start(form) }}

    {{ form_widget(form.status, {'attr': {'hidden': 'true'}}) }}
    {{ form_widget(form.dateAssigned, {'attr': {'hidden': 'true'}}) }}
    {{ form_widget(form.dateFinished, {'attr': {'hidden': 'true'}}) }}
    {{ form_widget(form.volunteer, {'attr': {'hidden': 'true'}}) }}

    {{ form_row(form.activity) }}

    {# User role passed to JS through data attributes #}
    <div id="appUserData" data-user-id="{{ app.user.id }}" class="row justify-content-between">
      <div class="d-flex">
        <div class="col-sm">
        {{ form_row(form.gla) }}
      </div>
      </div>
      <div class="col-sm d-flex justify-content-sm-end">
        {{ form_row(form.dateCreated, {'attr': {'readonly': 'true'}}) }}
      </div>
    </div>

    {{ form_row(form.address) }}

    <div class="row justify-content-between">
      <div class="col-sm order-sm-2 d-flex justify-content-end align-items-start">
        <a href="{{ path('app_address_new') }}" class="btn btn-sm btn-outline-secondary">
          <i class="fas fa-plus"></i>
          Ajouter une adresse
        </a>
      </div>

      {# Owner type #}
      <div class="d-flex">
        <div class="col-sm form-group">
          <label for="address_ownerType" class="form-control-label">Propriétaire :</label>
          <input type="text" id="address_ownerType" name="address[ownerType]" readonly="true" class="form-control"/>
        </div>
      </div>
    </div>

    <br>

    {{ form_row(form.description) }}
    {{ form_row(form.info) }}
    {{ form_widget(form.conclusions, {'attr': {'hidden': 'true'}}) }}

    {{ form_label(form.attachment) }}
    <div class="alert alert-info">
      Il n'est possible de joindre qu'<strong>un seul fichier</strong>, au format <strong>PDF uniquement</strong>.
    </div>
    {{ form_widget(form.attachment) }}

    <br>

    {# Buttons Submit / Cancel #}
    {{ formButtons(path('app_mission_new'), 'Vider') }}
  {{ form_end(form) }}
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('js/ajax.js') }}"></script>

  <script>
    (function() {
      // Prepopulate field GLA with user's name
      document.addEventListener('DOMContentLoaded', setGla);

      // Prepopulate fields OwnerType and Mission's info with address selection
      document.addEventListener('DOMContentLoaded', getAddressInfo);
      document.getElementById('mission_address').addEventListener('change', getAddressInfo);


      // Get user's id from Twig and prepopulate field "Provenance GLA"
      function setGla() {
        let appUserDataElt = document.getElementById('appUserData'),
            userId;

        if (appUserDataElt) {
          userId = appUserDataElt.getAttribute('data-user-id');
          
          document.getElementById('mission_gla').value = userId;
        }
      }

      // Prepopulate fields "owner type" and "info" with selected address info
      function getAddressInfo() {
        const id = encodeURIComponent(document.getElementById('mission_address').value);
        
        ajaxPost("{{ path('app_address_info') }}", {'id': id}, function(JSONResponse) {
          let data = JSON.parse(JSONResponse);

          document.getElementById('address_ownerType').value = data.ownerType;
          document.getElementById('mission_info').value = data.access;
        });
      }
    })();
  </script>
{% endblock %}
