{% extends 'layout-large.html.twig' %}


{% block title %}
  Fiches mission - {{ parent() }}
{% endblock %}


{% block header_h2 %}
  Récapitulatif des fiches mission ouvertes <span class="badge badge-pill badge-danger">{{ missions|length }}</span>
{% endblock %}


{% block content %}
  <div>
    <a href="{{ path('app_mission_recap_pdf-export') }}" class="btn btn-primary">
      <i class="fas fa-download"></i>
      Exporter au format PDF
    </a>
  </div>

  <br>

  <div class="table-responsive">
    <table class="table table-sm table-hover table-recap">

      <thead class="thead-light">
        <tr>
          <th scope="col" class="table-recap-id"># <i class="fas fa-sort"></i></th>
          <th scope="col" class="table-recap-date">Date demande <i class="fas fa-sort"></i></th>
          <th scope="col" class="table-recap-date">Provenance GLA <i class="fas fa-sort"></i></th>
          <th scope="col" class="table-recap-date">Date prise en charge <i class="fas fa-sort"></i></th>
          <th scope="col" class="table-recap-date">Date fin mission <i class="fas fa-sort"></i></th>
          <th scope="col" class="table-recap-address">Adresse <i class="fas fa-sort"></i></th>
          <th scope="col" class="table-recap-description">Description mission <i class="fas fa-sort"></i></th>
          <th scope="col" class="table-recap-date">Bénévole <i class="fas fa-sort"></i></th>
          <th scope="col" class="table-recap-description">Retour mission et conclusions <i class="fas fa-sort"></i></th>
          <th scope="col" class="table-recap-statut">Statut <i class="fas fa-sort"></i></th>
        </tr>
      </thead>

      <tbody>
        {% for mission in missions %}
          <tr>
            <td>
              <a href="{{ path('app_mission_view', {'id': mission.id}) }}" title="Voir la FM">
                {{ mission.id }}
              </a>
            </td>
            <td><strong>{{ mission.dateCreated|date('d/m/y') }}</strong></td>
            <td>{{ mission.gla }}</td>
            <td>{{ mission.dateAssigned ? mission.dateAssigned|date('d/m/y') : '-' }}</td>
            <td>{{ mission.dateFinished ? mission.dateFinished|date('d/m/y') : '-' }}</td>
            <td>
              {% if mission.accomodation.name %}
                {{ mission.accomodation.name }} - 
              {% endif %}
              {{ mission.accomodation.street }}
              <br>
              {{ mission.accomodation.postalCode }} {{ mission.accomodation.city }}
            </td>
            <td>{{ mission.description|nl2br }}</td>
            <td>{{ mission.volunteer }}</td>
            <td>{{ mission.conclusions|nl2br }}</td>
            <td>{{ mission.status }}</td>
          </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('js/sortTable.js') }}"></script>
 
  <script>
    (function() {
      // Add table sorting on clicking on one of its header
      tableHeadRows = document.querySelectorAll('th');
      
      for(let i = 0, c = tableHeadRows.length; i < c; i++) {
        tableHeadRows[i].addEventListener('click', () => {
          sortTable(document.querySelector('table'), i);
        });
      }
    })();
  </script>
{% endblock %}
