{% extends 'layout-large.html.twig' %}


{% block title %}
  Fiches mission - {{ parent() }}
{% endblock %}


{% block header_h2 %}
  Récapitulatif des fiches mission ouvertes <span class="nbOfMissions badge badge-pill badge-success"></span>
{% endblock %}

{% block header_button %}
  {#{% set url = path('app_mission_recap_pdf-export', {'activity': constant('App\\Utils\\Constant::ACTIVITY_GLA')}) %}#}
  <a id="exportBtn" href="{{ path('app_mission_recap_pdf-export', {'activity': constant('App\\Utils\\Constant::ACTIVITY_GLA')}) }}" class="btn btn-primary">
    <i class="fas fa-download"></i>
    Exporter au format PDF
  </a>
{% endblock %}


{% block content %}
  <div>
    {% include 'mission/search/by-created-date.html.twig' %}

    <div class="table-responsive">
      {% include 'loading.html.twig' %}

      <table class="table table-sm table-hover table-recap">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="table-recap-id"># <i class="fas fa-sort"></i></th>
            <th scope="col" class="table-recap-date">Date demande <i class="fas fa-sort"></i></th>
            <th scope="col" class="table-recap-date">Provenance GLA <i class="fas fa-sort"></i></th>
            <th scope="col" class="table-recap-date">Date prise en charge <i class="fas fa-sort"></i></th>
            <th scope="col" class="table-recap-date">Date fin mission <i class="fas fa-sort"></i></th>
            <th scope="col" class="table-recap-address">Adresse <i class="fas fa-sort"></i></th>
            <th scope="col" class="table-recap-description">Description mission <i class="fas fa-sort"></i></th>
            <th scope="col" class="table-recap-date">Bénévole <i class="fas fa-sort"></i></th>
            <th scope="col" class="table-recap-description">Retour mission et conclusions <i class="fas fa-sort"></i></th>
            <th scope="col" class="table-recap-statut">Statut <i class="fas fa-sort"></i></th>
          </tr>
        </thead>

        <tbody>
          {# Filled by JavaScript #}
          {# id, dateCreated, GLA, dateAssigned, dateFinished, address, description, volunteer, conclusions, status #}
        </tbody>
      </table>

      {% include 'mission/no-mission-div.html.twig' %}
    </div>
  </div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('js/functions.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.js"></script>
 
  <script>
    (function() {
      $(function() {
        let recapTable = $('table');

        addTableSorting([recapTable]);
        displayNumberOfCheckedOptionsInBadges();
        fillRecapMissionsTable();
        filterRecapdMissionsWithSearch();

        function fillRecapMissionsTable() {
          let url = "{{ path('app_mission_filter') }}",
              filters = getRecapMissionsFilters();

          fillMissionsTable(recapTable, filters, url, recapMissionsCallback).then(nbOfMissions => {
            updateNumberOfMissions(nbOfMissions);
          });
        }

        function recapMissionsCallback(data) {
          let missions = data.missions,
              properties = ['id', 'dateCreated', 'gla', 'dateAssigned', 'dateFinished', 'address', 'description', 'volunteer', 'conclusions', 'status'];

          return [missions, properties];
        }

        function updateNumberOfMissions(nbOfMissions) {
          let badge = $('.nbOfMissions');
          badge.html(nbOfMissions);
        }

        function filterRecapdMissionsWithSearch() {
          $('#searchSubmitBtn').click(e => {
            e.preventDefault();
            fillRecapMissionsTable();
            updatePdfExportLink();
          });
        }

        function updatePdfExportLink() {
          let filters = getRecapMissionsFilters(),
              url = getRecapPdfUrl(filters);

          $('#exportBtn').attr('href', url);
        }

        function getRecapMissionsFilters() {
          let dateCreatedMinInput = $('#mission_search_dateCreatedMin'),
              dateCreatedMaxInput = $('#mission_search_dateCreatedMax');

          let activity = "{{ constant('App\\Utils\\Constant::ACTIVITY_GLA') }}",
              statuses = "{{ constant('App\\Entity\\Mission::STATUS_DEFAULT') }}"+"|"+"{{ constant('App\\Entity\\Mission::STATUS_ASSIGNED') }}"+"|"+"{{ constant('App\\Entity\\Mission::STATUS_FINISHED') }}";
          let dateCreatedMin = formatStringToDate(dateCreatedMinInput.val()),
              dateCreatedMax = formatStringToDate(dateCreatedMaxInput.val());

          return {
            'activity': activity,
            'statuses': statuses,
            'dateCreatedMin': dateCreatedMin,
            'dateCreatedMax': dateCreatedMax,
          }
        }

        function getRecapPdfUrl(filters) {
          let url = "{{ path('app_mission_recap_pdf-export', {'activity': constant('App\\Utils\\Constant::ACTIVITY_GLA')}) }}",
              urlParams = [];

          if (filters.dateCreatedMin) {
            urlParams.push('dateMin='+filters.dateCreatedMin);
          }
          if (filters.dateCreatedMax) {
            urlParams.push('dateMax='+filters.dateCreatedMax);
          }

          if (filters.dateCreatedMin || filters.dateCreatedMax) {
            url += '?'+urlParams.join('&');
          }

          return url;
        }
      });
    })();
  </script>
{% endblock %}
