{% extends 'mission/layout.html.twig' %}


{% block header_h2 %}
  <span class="badge badge-secondary p-2">{{ mission.activity }}</span> Fiche Mission n°{{ mission.id }}
{% endblock %}
     

{% block card_body %}
  {# Modal to confirm mission assignment #}
  {# only visible for volunteer #}
  {% if is_granted('assign', mission) %}
    {% from 'macros.html.twig' import modal as modal %}

    {% set modalHeader = 'Prendre en charge la mission' %}
    {% set modalBody = 'En cliquant sur valider vous serez le ou la bénévole en charge de la mission et la date de prise en charge sera celle d\'aujourd\'hui.<br>(Vous ne pourrez pas modifier ce choix)' %}
    {% set btnPath = path('app_mission_assign', {'id': mission.id}) %}
    
    {{ modal('assign', modalHeader, modalBody, btnPath, 'btn-primary', 'Valider') }}
  {% endif %}


  {# Mission view #}
  {# row Status/GLA/Volunteer + Dates #}
  <div class="row justify-content-between align-items-center">
    
    {# col Status/GLA/Volunteer #}
    <div class="col-sm-auto">
      <div class="row align-items-center mb-2">
        <div class="col-sm-auto">
          Statut :
        </div>
        <div id="status" class="col-sm-auto text-form-alike font-weight-normal">
          {{ mission.status }}
        </div>
        {# Button to close / reopen a mission when finished #}
        {# only visible for admin #}
        {% if is_granted(constant('App\\Entity\\User::ROLE_ADMIN')) %}
          <div class="col-sm-auto">
            {% if mission.status == constant('App\\Entity\\Mission::STATUS_FINISHED') %}
              <a href="{{ path('app_mission_close', {'id': mission.id}) }}" class="btn btn-sm btn-primary">
                Fermer
              </a>
            {% elseif mission.status == constant('App\\Entity\\Mission::STATUS_CLOSED') %}
              <a href="{{ path('app_mission_close', {'id': mission.id}) }}" class="btn btn-sm btn-primary">
                Rouvrir
              </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <div class="row align-items-center mb-2">
        <div class="col-sm-auto">
          Provenance GLA :
        </div>
        <div id="gla" class="col-sm-auto text-form-alike">
          {{ mission.gla }}
        </div>
      </div>
      <div class="row align-items-center mb-2">
        <div class="col-sm-auto">
          Bénévole :
        </div>
        <div id="volunteer" class="col-sm-auto text-form-alike">
          {{ mission.volunteer ? : '-' }}
        </div>
      </div>
    </div> {# col Status/GLA/Volunteer #}

    {# col Dates #}
    <div class="col-sm-auto">
      <div class="row justify-content-end align-items-center mb-2">
        <div class="col-sm-auto">
          Date création :
        </div>
        <div id="dateCreated" class="col-sm-auto text-form-alike">
          {{ mission.dateCreated|date('d/m/Y') }}
        </div>
      </div>
      <div class="row justify-content-end align-items-center mb-2">
        <div class="col-sm-auto">
          Date prise en charge :
        </div>
        <div id="dateAssigned" class="col-sm-auto text-form-alike">
          {{ mission.dateAssigned ? mission.dateAssigned|date('d/m/Y') : '-' }}
        </div>
      </div>
      <div class="row justify-content-end align-items-center mb-2">
        <div class="col-sm-auto">
          Date fin de mission :
        </div>
        <div id="dateFinished" class="col-sm-auto text-form-alike">
          {{ mission.dateFinished ? mission.dateFinished|date('d/m/Y') : '-' }}
        </div>
      </div>
    </div> {# col Dates #}

  </div> {# row Status/GLA/Volunteer + Dates #}

  <br>

  {# block Address + type of owner #}
  <div class="row mb-2">
    <div class="col-sm-auto">
      Adresse d'intervention :
    </div>
    <div class="pl-3 pr-3">
      <div id="address" class="col-sm-auto text-form-alike">
        {{ mission.address }}
      </div>
    </div>
  </div>
  <div class="row align-items-center mb-2">
    <div class="col-sm-auto">
      Propriétaire :
    </div>
    <div class="col-sm-auto mr-auto text-form-alike font-weight-normal">
      {{ mission.address.ownerType ? : "" }}
    </div>
    <div class="col-sm-auto">
      <a href="{{ constant('App\\Utils\\Constant::ADDRESS_SHAREPOINT_FOLDER') }}" target="_blank" class="btn btn-sm btn-outline-secondary mt-3 mt-sm-0">
        <i class="fas fa-external-link-alt"></i>
        Dossier Immeubles
      </a>
    </div>
  </div>

  <br>

  {# block description/info/attachment/conclusions #}
  <div class="mb-2">
    <strong>Description mission :</strong>
  </div>
  <div id="description" class="border mb-4 form-alike">
    {{ mission.description|nl2br }}
  </div>

  <div class="mb-2">
    <strong>Informations complémentaires :</strong>
  </div>
  <div id="info" class="border mb-4 form-alike">
    {{ mission.info|nl2br ? : '<br>' }}
  </div>

  
  {% if mission.attachment %}
    <div class="d-sm-flex align-items-center mb-4">
      <div class="mr-4">
        <span>Pièce jointe : </span>
      </div>
      <div>
        <a href="{{ asset('uploads/pdf/' ~ mission.attachment) }}" target="_blank" class="btn btn-sm btn-primary mr-2">
          <i class="fas fa-external-link-alt"></i>
          Voir
        </a>
        {# delete attachment button only visible for admin or mission's gla #}
        {% if is_granted('edit', mission) %}
          <a href="{{ path('app_mission_attachment-delete', {'id': mission.id}) }}" class="btn btn-sm btn-link text-danger">
            <i class="fas fa-trash-alt"></i>
            Supprimer
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}
  

  <div class="mb-2">
    <strong>Retour mission et conclusions :</strong>
  </div>
  <div id="conclusions" class="border mb-4 form-alike">
    {{ mission.conclusions|nl2br ? : '<br><br><br><br>' }}
  </div>
{% endblock %}


{% block card_footer_left %}
    <a href="{{ path('app_mission_pdf-export', {'id': mission.id}) }}" class="btn btn-primary">
      <i class="fas fa-download"></i>
      Exporter en PDF
    </a>
{% endblock %}

{% block card_footer_right %}
    <div>
      {# Assign button opening a modal, only visible for volunteers #}
      {% if is_granted('assign', mission) %}
        <button class="btn btn-outline-success mr-2" data-toggle="modal" data-target="#assignModal">
          <i class="fas fa-check-square"></i>
          Prendre en charge
        </button>
      {% endif %}

      {# edit button only visible if mission is not closed and if user is admin, mission's gla or mission's volunteer #}
      {% if mission.status != constant('App\\Entity\\Mission::STATUS_CLOSED') and is_granted('simpleEdit', mission) %}
        <a href="{{ path('app_mission_edit', {'id': mission.id}) }}" class="btn btn-outline-primary">
          <i class="fas fa-edit"></i>
          Modifier
        </a>
      {% endif %}
    </div>
{% endblock %}
