{% extends 'layout-center.html.twig' %}

{% block header_h3 %}
  Fiche mission GLA-Bénévole n°{{ mission.id }}
{% endblock %}
     

{% block card_body %}
  {# row Status/GLA/Volunteer + Dates #}
  <div class="row justify-content-between align-items-center">
    
    {# col Status/GLA/Volunteer #}
    <div class="col-sm-auto">
      <div class="row align-items-center mb-2">
        <div class="col-sm-auto">
          Statut :
        </div>
        <div id="status" class="col-sm-auto text-form-alike font-weight-normal">
          {{ mission.status }}
        </div>
        {# Button to close / reopen a mission when finished #}
        {# only visible for admin #}
        {% if is_granted('ROLE_ADMIN') %}
          <div class="col-sm-auto">
            {% if mission.status == constant('STATUS_FINISHED', mission) %}
              <a href="{{ path('app_missions_close', {'id': mission.id}) }}" class="btn btn-sm btn-primary">
                Fermer
              </a>
            {% elseif mission.status == constant('STATUS_CLOSED', mission) %}
              <a href="{{ path('app_missions_close', {'id': mission.id}) }}" class="btn btn-sm btn-primary">
                Rouvrir
              </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <div class="row align-items-center mb-2">
        <div class="col-sm-auto">
          Provenance GLA :
        </div>
        <div id="gla" class="col-sm-auto text-form-alike">
          {{ mission.gla }}
        </div>
      </div>
      <div class="row align-items-center mb-2">
        <div class="col-sm-auto">
          Bénévole :
        </div>
        <div id="volunteer" class="col-sm-auto text-form-alike">
          {{ mission.volunteer ? : '-' }}
        </div>
      </div>
    </div> {# col Status/GLA/Volunteer #}

    {# col Dates #}
    <div class="col-sm-auto">
      <div class="row justify-content-end align-items-center mb-2">
        <div class="col-sm-auto">
          Date création :
        </div>
        <div id="dateCreated" class="col-sm-auto text-form-alike">
          {{ mission.dateCreated|date('d/m/Y') }}
        </div>
      </div>
      <div class="row justify-content-end align-items-center mb-2">
        <div class="col-sm-auto">
          Date prise en charge :
        </div>
        <div id="dateAssigned" class="col-sm-auto text-form-alike">
          {{ mission.dateAssigned ? mission.dateAssigned|date('d/m/Y') : '-' }}
        </div>
      </div>
      <div class="row justify-content-end align-items-center mb-2">
        <div class="col-sm-auto">
          Date fin de mission :
        </div>
        <div id="dateFinished" class="col-sm-auto text-form-alike">
          {{ mission.dateFinished ? mission.dateFinished|date('d/m/Y') : '-' }}
        </div>
      </div>
    </div> {# col Dates #}

  </div> {# row Status/GLA/Volunteer + Dates #}

  <br>

  {# block Address + type of owner #}
  <div class="row align-items-center mb-2">
    <div class="col-sm-auto">
      Adresse d'intervention :
    </div>
    <div class="pl-3 pr-3">
      <div id="address" class="col-sm-auto form-alike text-form-alike">
        {{ mission.accomodation.address }}
      </div>
    </div>
  </div>
  <div class="row align-items-center mb-2">
    <div class="col-sm-auto">
      Propriétaire :
    </div>
    <div class="col-sm-auto text-form-alike font-weight-normal">
      {% if mission.accomodation.ownerType %}
        {{ mission.accomodation.ownerType }}
      {% endif %}
    </div>
  </div>

  <br>

  {# block description/info/attachment/conclusions #}
  <div class="mb-2">
    <strong>Description mission :</strong>
  </div>
  <div id="description" class="border mb-4 form-alike">
    {{ mission.description|nl2br }}
  </div>

  <div class="mb-2">
    <strong>Informations complémentaires :</strong>
  </div>
  <div id="info" class="border mb-4 form-alike">
    {{ mission.info|nl2br ? : '<br>' }}
  </div>

  
  {% if mission.attachment %}
    <div class="d-sm-flex align-items-center mb-4">
      <div class="mr-4">
        <span>Pièce jointe : </span>
      </div>
      <div>
        <a href="{{ asset('uploads/pdf/' ~ mission.attachment) }}" target="_blank" class="btn btn-primary mr-2">
          <i class="fas fa-external-link-alt"></i>
          Voir
        </a>
        {# delete attachment button only visible for admin or mission's gla #}
        {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_GLA') and mission.gla == app.user.name) %}
          <a href="{{ path('app_missions_attachment-delete', {'id': mission.id}) }}" class="btn btn-sm btn-link text-danger">
            <i class="fas fa-trash-alt"></i>
            Supprimer
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}
  

  <div class="mb-2">
    <strong>Retour mission et conclusions :</strong>
  </div>
  <div id="conclusions" class="border mb-4 form-alike">
    {{ mission.conclusions|nl2br ? : '<br><br><br><br>' }}
  </div>
{% endblock %}

{% block card_footer %}
  <div class="d-flex justify-content-between">
    <a href="{{ path('app_missions_pdf-export', {'id': mission.id}) }}" class="btn btn-primary">
      <i class="fas fa-download"></i>
      Exporter en PDF
    </a>
    {# edit button only visible for admin, mission's gla or mission's volunteer #}
    {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_GLA') and mission.gla == app.user.name) or (is_granted('ROLE_VOLUNTEER') and mission.volunteer == app.user.name) %}
      <a href="{{ path('app_missions_edit', {'id': mission.id}) }}" class="btn btn-outline-primary">
        <i class="fas fa-edit"></i>
        Modifier
      </a>
    {% endif %}
  </div>
{% endblock %}
