{% extends 'mission/layout.html.twig' %}

{% block title %}
  Suivi des {{ parent() }}
{% endblock %}

{% block layout_h3 %}
  <div class="row justify-content-between">
    <div class="col-md-6">
      Fiche mission GLA-Bénévole n° {{ mission.id }}
    </div>
    <div class="col-md-6">
      <div class="row justify-content-end align-items-center">
        <a href="{{ path('app_missions_list') }}" class="btn btn-outline-secondary mr-4">
          <i class="fas fa-chevron-left"></i>
          Retour à la liste
        </a>
        <a href="{{ path('app_missions_edit', {'id': mission.id}) }}" class="btn btn-outline-primary mr-2">
          <i class="fas fa-edit"></i>
          Modifier
        </a>
        {# button opening a modal : #}
        <button class="btn btn-sm btn-outline-danger mr-4" data-toggle="modal" data-target="#deleteModal">
          <i class="fas fa-trash-alt"></i>
          Supprimer
        </button>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  {# Modal to confirm mission delete #}
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Supprimer la fiche mission</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Confirmez-vous la suppression de cette fiche mission ?
        </div>
        <div class="modal-footer">
          <a href="{{ path('app_missions_delete', {'id': mission.id}) }}" class="btn btn-danger">Supprimer</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        </div>
      </div>
    </div>
  </div>

  {# Mission view #}
  <div class="row justify-content-center">
    <div class="col-md-10">

      {# row Status/GLA/Volunteer + Dates #}
      <div class="row justify-content-between align-items-center">
        
        {# block Status/GLA/Volunteer #}
        <div class="col-md-6">
          <div class="row align-items-center">
            <div class="col-md-4 text-right">
              Statut :
            </div>
            <div class="col-md-4">
              {{ mission.status }}
            </div>
            {# Button to close / reopen a mission when finished #}
            <div class="col-md-4">
              {% if mission.status == constant('STATUS_FINISHED', mission) %}
                <a href="{{ path('app_missions_close', {'id': mission.id}) }}" class="btn btn-sm btn-primary">
                  Fermer
                </a>
              {% elseif mission.status == constant('STATUS_CLOSED', mission) %}
                <a href="{{ path('app_missions_close', {'id': mission.id}) }}" class="btn btn-sm btn-primary">
                  Rouvrir
                </a>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 text-right">
              GLA :
            </div>
            <div class="col-md-8 font-weight-bold">
              {{ mission.gla }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 text-right">
              Bénévole :
            </div>
            <div class="col-md-8 font-weight-bold">
              {{ mission.volunteer }}
            </div>
          </div>
        </div>

        {# block Dates #}
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-8 text-right">
              Date création :
            </div>
            <div class="col-md-4 font-weight-bold">
              {{ mission.dateCreated|date('d/m/Y') }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 text-right">
              Date prise en charge :
            </div>
            <div class="col-md-4 font-weight-bold">
              {{ mission.dateAssigned ? mission.dateAssigned|date('d/m/Y') }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 text-right">
              Date fin de mission :
            </div>
            <div class="col-md-4 font-weight-bold">
              {{ mission.dateFinished ? mission.dateFinished|date('d/m/Y') }}
            </div>
          </div>
        </div>

      </div>

      <br>

      {# row Address #}
      <div class="row justify-content-start">
        <div class="col-md-3 text-right">
          Adresse d'intervention :
        </div>
        <div class="col-md-8 font-weight-bold">
          {{ mission.accomodation.address }}
        </div>
      </div>

      <br>

      {# rows description/info/conclusions #}
      <div class="row justify-content-center">
        
        <div class="col-lg-12">
          <strong>Description mission :</strong>
        </div>
        <div class="col-lg-12 border mb-3">
          {{ mission.description }}
          <br>
          <br>
          <br>
        </div>
        
        <div class="col-lg-12">
          <strong>Informations complémentaires :</strong>
        </div>
        <div class="col-lg-12 border mb-3">
          {{ mission.info }}
          <br>
          <br>
        </div>
        
        <div class="col-lg-12">
          <strong>Retour mission et conclusions :</strong>
        </div>
        <div class="col-lg-12 border mb-3">
          {{ mission.conclusions }}
          <br>
          <br>
          <br>
        </div>

      </div>

    </div>
  </div>
  
  <hr>

  <div class="row justify-content-between align-items-center">
    <div class="col">
      <a href="{{ path('app_missions_pdf-export', {'id': mission.id}) }}" class="btn btn-primary">
        <i class="fas fa-download"></i>
        Exporter en PDF
      </a>
    </div>
    <div class="col-md-auto">
      {% if mission.attachment %}
        <a href="{{ asset('uploads/pdf/' ~ mission.attachment) }}" target="_blank" class="btn btn-primary mr-2">
          Voir la pièce jointe
        </a>
        <a href="{{ path('app_missions_attachment-delete', {'id': mission.id}) }}" class="btn btn-outline-danger btn-sm mr-4">
          Supprimer la pièce jointe
        </a>
      {% endif %}
    </div>
  </div>

  <br>

{% endblock %}