{{ form_start(form) }}
    <div class="row justify-content-center">
        <div class="col-11 card bg-light py-3 mb-3">
            <div class="d-flex justify-content-between">
                {# Filter date created #}
                <div class="d-flex align-items-center">
                    <small>Date demande entre le</small>
                    <div class="input-group-sm input-date mx-2">
                        {{ form_widget(form.dateCreatedMin, {'attr': {'placeholder': 'jj/mm/aaaa'}}) }}
                    </div>
                    <small>et le</small>
                    <div class="input-group-sm input-date mx-2">
                        {{ form_widget(form.dateCreatedMax, {'attr': {'placeholder': 'jj/mm/aaaa'}}) }}
                    </div>
                </div>

                {# Form buttons #}
                {% include 'mission/search/buttons.html.twig' with {'buttonText': 'Filtrer'} %}
            </div>
        </div>
    </div>

    {{ form_widget(form.gla, {'attr': {'hidden': 'true'}}) }}
    {{ form_widget(form.volunteer, {'attr': {'hidden': 'true'}}) }}
    {{ form_widget(form.address, {'attr': {'hidden': 'true'}}) }}
    {{ form_widget(form.description, {'attr': {'hidden': 'true'}}) }}
    {{ form_widget(form.dateFinishedMin, {'attr': {'hidden': 'true'}}) }}
    {{ form_widget(form.dateFinishedMax, {'attr': {'hidden': 'true'}}) }}

{{ form_end(form) }}