<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      {% block title %}
        Alys - Habitat et Humanisme
      {% endblock %}
    </title>

    <link rel="icon" type="image/ico" href="{{ absolute_url(asset('style/images/favicon.ico')) }}" />


    {% block stylesheets %}
      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <!-- Font Awesome -->
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

      <link href="{{ asset('style/css/style.css') }}" rel="stylesheet">
    {% endblock %}

  </head>

  <body>

    {% block nav %}
      <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container">
          <a class="navbar-brand mb-0 mr-5 h1" href="{{ path('app_mission_list') }}">Alys</a>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {{ app.request.pathinfo starts with '/missions' ? 'active' }}" href="#" id="navbarMissions" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Fiches Mission
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarMissions">
                  <a class="dropdown-item {{ app.request.pathinfo == '/missions' or (app.request.pathinfo starts with '/missions' and (app.request.pathinfo ends with '/voir/' or app.request.pathinfo ends with '/modifier/')) ? 'active' }}"
                     href="{{ path('app_mission_list') }}">
                    Liste
                  </a>
                  <a class="dropdown-item {{ app.request.pathinfo starts with '/missions/recap' ? 'active' }}"
                     href="{{ path('app_mission_recap') }}">
                    Récap FM ouvertes
                  </a>
                  {% if is_granted(constant('App\\Entity\\User::ROLE_GLA')) %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item {{ app.request.pathinfo == '/missions/ajouter' ? 'active' }}" 
                       href="{{ path('app_mission_new') }}">
                      Créer une FM
                    </a>
                  {% endif %}
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link {{ app.request.pathinfo starts with '/logements' ? 'active' }}"
                   href="{{ path('app_address_list') }}">
                  Logements
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {{ app.request.pathinfo starts with '/visites' ? 'active' }}" href="#" id="navbarInspections" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Visites Immeubles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarInspections">
                  <a class="dropdown-item {{ app.request.pathinfo == '/visites' or app.request.pathinfo starts with '/visites/recap/' or (app.request.pathinfo starts with '/visites/' and app.request.pathinfo ends with '/voir') ? 'active' }}"
                     href="{{ path('app_inspection_list') }}">
                    Liste des immeubles
                  </a>
                  <div class="dropdown-divider"></div>
                  {% if is_granted(constant('App\\Entity\\User::ROLE_VOLUNTEER')) %}
                    <a class="dropdown-item {{ app.request.pathinfo == '/visites/ajouter' ? 'active' }}"
                       href="{{ path('app_inspection_new') }}">
                      Créer un RVI
                    </a>
                  {% endif %}
                  <a class="dropdown-item"
                     href="{{ path('app_inspection_pdf-empty') }}">
                    Télécharger un modèle de RVI
                  </a>
                </div>
              </li>
              {% if is_granted(constant('App\\Entity\\User::ROLE_ADMIN')) %}
                <li class="nav-item">
                  <a class="nav-link {{ app.request.pathinfo starts with '/admin' ? 'active' }}"
                     href="{{ path('app_user_list') }}">
                    Admin
                  </a>
                </li>
              {% endif %}
            </ul>

            {# right-hand-side nav #}
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {{ app.request.pathinfo starts with '/profil' ? 'active' }}" href="#" id="navbarProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user"></i>
                  {{ app.user.name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarProfile">
                  <a class="dropdown-item {{ app.request.pathinfo == '/profil' ? 'active' }}" 
                     href="{{ path('app_profile_view') }}">
                    Mon profil
                  </a>
                  <a class="dropdown-item" 
                     href="{{ path('logout') }}">
                    Déconnexion
                  </a>
                </div>
              </li>
            </div>
          </div>
        </div>
      </nav>
    {% endblock %}

    <br>
    
    {% block body %}
    {% endblock %}

    {% block javascripts %}
      <!-- jQuery (for Bootstrap + DataTables) -->
      <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
      <!-- Popper.js (for Bootstrap dropdowns + tooltips) -->
      <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
      <!-- Bootstrap JavaScript -->
      <script 
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
        crossorigin="anonymous"></script>

      <script type="text/javascript">
        $(function () {
          $('[data-toggle="popover"]').popover({
              'placement': 'auto',
              'trigger': 'hover'
            });

          $('[data-toggle="tooltip"]').tooltip({
              'placement': 'auto',
            });
        });
      </script>
    {% endblock %}
  </body>
</html>
