{% macro modal(name, header, body, btnPath, btnClass, btnValue) %}
  <div class="modal fade" id="{{ name }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ name }}ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="{{ name }}ModalLabel">{{ header }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ body|raw }}
        </div>
        <div class="modal-footer">
          <a href="{{ btnPath }}" class="btn {{ btnClass }}">{{ btnValue }}</a>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro formButtons(btnPath, resetBtnValue, justify) %}
  <div class="d-flex justify-content-{{ justify ? : 'end' }}">
    <input type="submit" class="btn btn-primary mr-2" value="Valider"/>
    <a href="{{ btnPath }}" class="btn btn-outline-secondary">
      {{ resetBtnValue ? : 'Annuler' }}
    </a>
  </div>
{% endmacro %}

{% macro backButton(path, text = 'Retour à la liste') %}
  <a href="{{ path }}" class="btn btn-outline-secondary">
    <i class="fas fa-chevron-left"></i>
    {{ text }}
  </a>
{% endmacro %}

{% macro buildingInspectionInfo(address, inspector = false, created = false) %}
  <div class="mb-2">
    <strong>{{ constant('App\\Entity\\BuildingInspection::LABEL_ADDRESS') }}</strong>
    {{ address.address }}
  </div>
  <div class="mb-2">
    <strong>{{ constant('App\\Entity\\BuildingInspection::LABEL_GLA') }}</strong>
    {{ address.gla }}
  </div>
  <div class="mb-4">
    <strong>{{ constant('App\\Entity\\BuildingInspection::LABEL_REFERENT') }}</strong>
    {{ address.referent }}
  </div>
  {% if inspector %}
    <div class="mb-2">
      <strong>{{ constant('App\\Entity\\BuildingInspection::LABEL_INSPECTOR') }}</strong>
      {{ inspector }}
    </div>
  {% endif %}
  {% if created %}
    <div class="mb-2">
      <strong>{{ constant('App\\Entity\\BuildingInspection::LABEL_CREATED') }}</strong>
      {{ created|date('d/m/y') }}
    </div>
  {% endif %}
{% endmacro %}
