{% macro modal(name, header, body, btnPath, btnClass, btnValue) %}
  <div class="modal fade" id="{{ name }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ name }}ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="{{ name }}ModalLabel">{{ header }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ body|raw }}
        </div>
        <div class="modal-footer">
          <a href="{{ btnPath }}" class="btn {{ btnClass }}">{{ btnValue }}</a>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro formButtons(btnPath, resetBtnValue, justify) %}
  <div class="d-flex justify-content-{{ justify ? : 'end' }}">
    <input type="submit" class="btn btn-primary mr-2" value="Valider"/>
    <a href="{{ btnPath }}" class="btn btn-outline-secondary">
      {{ resetBtnValue ? : 'Annuler' }}
    </a>
  </div>
{% endmacro %}