{% extends 'base.html.twig' %}


{% block stylesheets %}
  <style>
    .pdf-content {
      font-family: Arial;
      font-size: 18px;
      margin-left: 40px;
    }

    table {
      font-size: 12px;
      border-collapse: collapse;
      border: 2px solid #777;
    }

    thead {
      text-align: left;
      vertical-align: bottom;
      border-bottom: 2px solid #777;
      border-top: 0;
      background-color: #f2f2f2
    }

    tr:nth-child(even) {
      background-color: #f2f2f2
    }

    th, td {
      padding: 6px;
      border-left: 1px solid #777;
    }

    td {
      vertical-align: top;
      border-top: 1px solid #777;
    }

    .center {
      text-align: center;
    }

    .table-recap-id {
      width: 20px;
    }
    .table-recap-date {
      width: 60px;
    }
    .table-recap-name {
      width: 100px;
    }
    .table-recap-address {
      width: 250px;
    }
    .table-recap-description {
      width: 400px;
    }
    .table-recap-statut {
      width: 100px;
    }
  </style>
{% endblock %}


{% block nav %}
{% endblock %}


{% block body %}
  <div class="pdf-content">
    <strong>Récapitulatif des fiches mission en cours au {{ "now"|date('d/m/Y') }}</strong>

    <br>
    <br>

    <table>
      <thead>
        <tr>
          <th scope="col" class="table-recap-id center">#</th>
          <th scope="col" class="table-recap-date center">Date demande</th>
          <th scope="col" class="table-recap-name">Provenance GLA</th>
          <th scope="col" class="table-recap-date center">Date prise en charge</th>
          <th scope="col" class="table-recap-date center">Date fin de mission</th>
          <th scope="col" class="table-recap-address">Adresse</th>
          <th scope="col" class="table-recap-description">Description mission</th>
          <th scope="col" class="table-recap-name">Bénévole</th>
          <th scope="col" class="table-recap-description">Retour mission et conclusions</th>
          <th scope="col" class="table-recap-statut center">Statut</th>
        </tr>
      </thead>

      <tbody>
        {% for mission in missions %}
          <tr>
            <td class="center">{{ mission.id }}</td>
            <td class="center">{{ mission.dateCreated|date('d/m/y') }}</td>
            <td>{{ mission.gla }}</td>
            <td class="center">{{ mission.dateAssigned|date('d/m/y') }}</td>
            <td class="center">{{ mission.dateFinished|date('d/m/y') }}</td>
            <td>
              {{ mission.address.street }}
              <br>
              {% if mission.address.name %}
                {{ mission.address.name }}<br>
              {% endif %}
              {{ mission.address.zipCode }} {{ mission.address.city }}
            </td>
            <td>{{ mission.description }}</td>
            <td>{{ mission.volunteer }}</td>
            <td>{{ mission.conclusions }}</td>
            <td class="center">{{ mission.status }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}


{% block javascripts %}
{% endblock %}
