{% extends 'base.html.twig' %}

{% block stylesheets %}
  <style>
    .pdf-content {
      font-family: Arial;
      font-size: 18px;
    }

    table {
      font-size: 12px;
      border-collapse: collapse;
      border: 2px solid #777;
    }

    thead {
      text-align: left;
      vertical-align: bottom;
      border-bottom: 2px solid #777;
      border-top: 0;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2
    }

    th, td {
      padding: 6px;
      border-left: 1px solid #777;
    }

    td {
      vertical-align: top;
      border-top: 1px solid #777;
    }

    .center {
      text-align: center;
    }

    .table-recap-id {
      width: 20px;
    }
    .table-recap-date {
      width: 60px;
    }
    .table-recap-name {
      width: 75px;
    }
    .table-recap-address {
      width: 250px;
    }
    .table-recap-description {
      width: 300px;
    }
    .table-recap-info {
      width: 150px;
    }
    .table-recap-pdf {
      width: 40px;
    }
    .table-recap-statut {
      width: 50px;
    }
  </style>
{% endblock %}

{% block nav %}
{% endblock %}

{% block body %}

  <div class="pdf-content">
    <h2>Récapitulatif des missions en cours au {{ "now"|date('d/m/Y') }}</h2>

    <br>

    <table>

      <thead>
        <tr>
          <th scope="col" class="table-recap-id center">#</th>
          <th scope="col" class="table-recap-date center">Date demande</th>
          <th scope="col" class="table-recap-name">GLA</th>
          <th scope="col" class="table-recap-name">Bénévole</th>
          <th scope="col" class="table-recap-address">Adresse</th>
          <th scope="col" class="table-recap-description">Description mission</th>
          <th scope="col" class="table-recap-info">Informations complémentaires</th>
          <th scope="col" class="table-recap-description">Retour mission et conclusions</th>
          <th scope="col" class="table-recap-pdf center">PDF joint</th>
          <th scope="col" class="table-recap-date center">Date prise en charge</th>
          <th scope="col" class="table-recap-date center">Date fin mission</th>
          <th scope="col" class="table-recap-statut center">Statut</th>
          {# <th scope="col" colspan="2"></th> #}
        </tr>
      </thead>

      <tbody>

        {% for mission in missions %}
          <tr>
            <td class="center">{{ mission.id }}</td>
            <td class="center">{{ mission.dateCreated|date('d/m/y') }}</td>
            <td>{{ mission.gla }}</td>
            <td>{{ mission.volunteer }}</td>
            <td>{{ mission.accomodation.address }}</td>
            <td>{{ mission.description }}</td>
            <td>{{ mission.info }}</td>
            <td>{{ mission.conclusions }}</td>
            <td class="center">
              {% if mission.pdfScan %}
                Oui
              {% else %}
                Non
              {% endif %}
            </td>
            <td class="center">{{ mission.dateAssigned|date('d/m/y') }}</td>
            <td class="center">{{ mission.dateFinished|date('d/m/y') }}</td>
            <td class="center">{{ mission.status }}</td>
          </tr>
        {% endfor %}

      </tbody>

    </table>

  </div>

{% endblock %}

{% block javascripts %}
{% endblock %}