{% extends 'user/layout.html.twig' %}


{% block header_h2 %}
  Modifier l'utilisateur·trice
{% endblock %}


{% block card_body %}
  {# Modal to confirm accomodation delete #}
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Supprimer l'utilisateur·trice</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Confirmez-vous la suppression de ce·tte utilisateur·trice ?</p>
        </div>
        <div class="modal-footer">
          <a href="{{ path('app_user_delete', {'id': user.id}) }}" class="btn btn-danger">Supprimer</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        </div>
      </div>
    </div>
  </div>

  {# Form #}
  {{ form_start(form) }}
    
    {{ form_row(form.name) }}

    <div class="form-row">
      <div class="form-group col-sm-4">
        {{ form_row(form.username, {'attr': {'readonly': 'true'}}) }}
      </div>
      <div class="form-group col-sm-8">
        {{ form_row(form.email, {'attr': {'readonly': 'true'}}) }}
      </div>
    </div>
    
    {% if is_granted('ROLE_ADMIN') %}
      <div class="form-row align-items-end">
        <div class="form-group col-sm-4">
          {{ form_row(form.category) }}
        </div>
      </div>
    {% else %}
      {{ form_widget(form.category, {'attr': {'hidden': 'true'}}) }}
    {% endif %}

    <br>

    <div class="d-flex justify-content-end">
      <input type="submit" class="btn btn-primary mr-2" valye="Valider" />
    </div>

  {{ form_end(form) }}
{% endblock %}

{% block card_footer %}
  {# Delete button opening a modal #}
  <button class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal">
    <i class="fas fa-trash-alt"></i>
    Supprimer l'utilisateur·trice
  </button>
{% endblock %}
