{% extends 'layout-large.html.twig' %}


{% block title %}
  Utilisateurs - {{ parent() }}
{% endblock %}


{% block header_h2 %}
  Liste des utilisateurs et utilisatrices
{% endblock %}

{% block header_button %}
  {# button to add user #}
  <a href="{{ path('app_user_new') }}" class="btn btn-success">
    <i class="fas fa-plus"></i>
    Ajouter un·e utilisateur·trice
  </a>
{% endblock %}

    
{% block content %}
  
  <table class="table table-sm table-hover users-table">

    <thead class="thead-light">
      <tr>
        <th scope="col">Nom <i class="fas fa-sort"></i></th>
        <th scope="col">Identifiant <i class="fas fa-sort"></i></th>
        <th scope="col">Catégorie <i class="fas fa-sort"></i></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for user in users %}
        <tr id="user-{{ user.id }}" class="{{ user.isActive ? : 'text-secondary bg-inactive' }}">
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.category }}</td>
          {# view button #}
          <td>
            <a href="{{ path('app_user_view', {'id': user.id}) }}" class="btn btn-xs btn-primary">
              <i class="fas fa-eye"></i>
              Voir
            </a>
          </td>
          {# edit button #}
          <td>
            <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-xs btn-outline-primary">
              <i class="fas fa-edit"></i>
              Modifier
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('js/functions.js') }}"></script>
 
  <script>
    (function() {
      // Add table sorting on clicking on one of its header (except last 2 ones)
      sortTable(document.querySelector('table'), 2);
    })();
  </script>
{% endblock %}
