{% extends 'user/layout.html.twig' %}


{% block header_h2 %}
  Créer un·e utilisateur·trice
{% endblock %}


{% block card_body %}
  {{ form_start(form) }}
    
    <div class="form-row">
      <div class="form-group col-sm-6">
        {{ form_row(form.firstName) }}
      </div>
      <div class="form-group col-md-6">
        {{ form_row(form.lastName) }}
      </div>
    </div>

    <div class="alert alert-danger">
      Vérifiez bien que <strong>l'adresse email est celle fournie par Habitat et Humanisme</strong>. Si ce n'est pas le cas, modifiez l'identifiant.
    </div>
    <div class="form-row">
      <div class="form-group col-sm-4">
        {{ form_row(form.username) }}
      </div>
      <div class="form-group col-sm-8">
        {{ form_row(form.email, {'attr': {'readonly': 'true'}}) }}
      </div>
    </div>
    
    {# Category / roles #}
    <div class="form-row align-items-end">
      <div class="form-group col-sm-4">
        {{ form_row(form.category) }}
      </div>
    </div>

    {# Password #}
    <div class="alert alert-info">
      Par défaut le mot de passe initial est égal à l'<strong>identifiant</strong>, mais vous pouvez le modifier ci-dessous.
    </div>
    <div class="form-row align-items-end">
      <div class="form-group col-sm-6">
        {{ form_row(form.plainPassword.first) }}
      </div>
      <div class="form-group col-sm-6">
        {{ form_row(form.plainPassword.second) }}
      </div>
    </div>
    

    {{ form_widget(form.name, {'attr': {'hidden': 'true'}}) }}

    <br>

    <div class="d-flex justify-content-end">
      <input type="submit" class="btn btn-primary mr-2" valye="Valider" />
      <a href="{{ path('app_user_new') }}" class="btn btn-outline-secondary">
        Vider
      </a>
    </div>

  {{ form_end(form) }}
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script>
    (function() {
      let firstNameElt = document.getElementById('user_firstName'),
          lastNameElt = document.getElementById('user_lastName'),
          nameElt = document.getElementById('user_name'),
          usernameElt = document.getElementById('user_username'),
          emailElt = document.getElementById('user_email'),
          pwd1Elt = document.getElementById('user_plainPassword_first'),
          pwd2Elt = document.getElementById('user_plainPassword_second');


      function namesUpdate() {
        // Get first and last name
        let firstName = firstNameElt.value,
            lastName = lastNameElt.value;

        if (firstName && lastName) {
          firstName = firstName.trim().replace(/\s+/g, '-');
          lastName = lastName.trim();

          // Set name to "Firstname LASTNAME"
          nameElt.value = capitalizeFirstLetter(firstName) + ' ' + lastName.toUpperCase();

          let username,
              hyphenIndex = firstName.indexOf('-');

          if (hyphenIndex > -1) {
            // If first name is hyphenated (e.g. Jean-Michel), set username to jm.lastname
            username = firstName.toLowerCase().slice(0, 1) + firstName.toLowerCase().slice(hyphenIndex + 1, hyphenIndex + 2) + '.' + lastName.toLowerCase();;
          } else {
            // Set username to f.lastname where f is first letter of first name
            username = firstName.toLowerCase().slice(0, 1) + '.' + lastName.toLowerCase().replace(/-|\s/g, '');
          }
          usernameElt.value = username;
          
          // Update email and passwords
          usernameUpdate();
        }
      }

      function usernameUpdate() {
        let username = usernameElt.value;

        if (usernameElt.value) {
          // Set email to username@domain
          emailElt.value = username + '@habitat-humanisme.org';

          // Set initial password to username
          pwd1Elt.value = pwd2Elt.value = username;
        }
      }

      function capitalizeFirstLetter(string) {
        let finalString,
            hyphenIndex = string.indexOf('-');

        if (hyphenIndex > -1) {
          let string1 = string.slice(0, hyphenIndex),
              string2 = string.slice(hyphenIndex + 1);
          finalString = capitalizeFirstLetter(string1) + '-' + capitalizeFirstLetter(string2);
        } else {
          finalString = string.charAt(0).toUpperCase() + string.slice(1);
        }

        return finalString;
      }

      // Update username and email with first and last name changes
      firstNameElt.addEventListener('change', namesUpdate);
      lastNameElt.addEventListener('change', namesUpdate);
      
      // Update email with username changes
      usernameElt.addEventListener('change', usernameUpdate);
    })();
  </script>
{% endblock %}
