{% extends 'user/layout.html.twig' %}


{% block header_h2 %}
  {{ user.name }}
{% endblock %}


{% block card_body %}
  <div class="mb-3">
    Identifiant : <span class="text-form-alike">{{ user.username }}</span>
  </div>

  <div class="mb-3">
    Email : <span class="text-form-alike">{{ user.email }}</span>
  </div>

  <div>
    Catégorie : <span class="text-form-alike">{{ user.category }}</span>
  </div>
{% endblock %}

{% block card_footer %}
  <div class="d-flex justify-content-between">
    {% if app.user.id == user.id %}
      <a href="{{ path('app_profile_change-pwd')}}" class="btn btn-outline-primary">
        Changer de mot de passe
      </a>
    {% endif %}
    {# edit button only visible for admin #}
    {% if is_granted('ROLE_ADMIN') %}
      <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-outline-primary">
        <i class="fas fa-edit"></i>
        Modifier
      </a>
    {% endif %}
  </div>
{% endblock %}
