{% extends 'user/layout.html.twig' %}
{% from 'macros.html.twig' import modal as modal %}


{% block header_h4 %}
  {{ user.name }}
{% endblock %}


{% block card_body %}
  {# Modal to confirm user deactivation #}
  {% if user.isActive %}
    {% set modalHeader = 'Désactiver le compte de cet·te utilisateur·trice' %}
    {% set modalBody = "<p class='text-secondary font-italic'>Si vous désactivez ce compte, son utilisateur·trice ne pourra plus se connecter à l'application et n'apparaîtra plus dans la liste des GLAs et bénévoles possibles pour les fiches mission.</p><p class='text-secondary font-italic'>Un compte désactivé n'est pas supprimé, ses fiches mission sont conservées et il peut être réactivé ultérieurement.</p><p>Confirmez-vous la désactivation de ce compte ?</p>" %}
    {% set btnClass = 'btn-danger' %}
    {% set btnValue = 'Désactiver' %}
  {% else %}
    {% set modalHeader = 'Activer le compte de cet·te utilisateur·trice' %}
    {% set modalBody = "<p class='text-secondary font-italic'>L'activation de ce compte permettra à son utilisateur·trice de se connecter à l'application et d'apparaître dans la liste des GLAs et/ou bénévoles possibles pour les fiches mission.</p><p>Confirmez-vous l'activation de ce compte ?</p>" %}
    {% set btnClass = 'btn-primary' %}
    {% set btnValue = 'Activer' %}
  {% endif %}

  {% set btnPath = path('app_user_deactivate', {'id': user.id}) %}
  
  {{ modal('deactivate', modalHeader, modalBody, btnPath, btnClass, btnValue) }}

  {# Alert inactive account #}
  {% if not user.isActive %}
    <div class="alert alert-warning text-center font-weight-bold">
      Ce compte est désactivé
    </div>
  {% endif %}

  {# User details #}
  <div class="mb-3">
    Identifiant : <span class="text-form-alike">{{ user.username }}</span>
  </div>

  <div class="mb-3">
    Email : <span class="text-form-alike">{{ user.email }}</span>
  </div>

  <div>
    Catégorie : <span class="text-form-alike">{{ user.category }}</span>
  </div>
{% endblock %}


{% block card_footer_left %}
  {% if app.user.id == user.id %}
    <a href="{{ path('app_profile_change-pwd')}}" class="btn btn-outline-primary">
      Changer de mot de passe
    </a>
  {% endif %}
{% endblock %}

{% block card_footer_right %}
  {# edit and deactivation buttons only visible for admin #}
  {% if is_granted('ROLE_ADMIN') and not (app.request.pathinfo ends with '/profil') %}
    {# Edit #}
    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-outline-primary">
      <i class="fas fa-edit"></i>
      Modifier
    </a>

    {# (de)activation #}
    {% if user.isActive %}
      <button class="btn btn-outline-danger" data-toggle="modal" data-target="#deactivateModal">
        <i class="fas fa-ban"></i>
        Désactiver le compte
      </button>
    {% else %}
      <button class="btn btn-outline-success" data-toggle="modal" data-target="#deactivateModal">
        <i class="fas fa-check"></i>
        Activer le compte
      </button>
    {% endif %}
  {% endif %}
{% endblock %}
