{% extends 'layout-card-md.html.twig' %}
{% from 'macros.html.twig' import formButtons as formButtons %}

{% block title %}
  Logements - {{ parent() }}
{% endblock %}


{% block header_button %}
  <a href="{{ path('app_address_list') }}" class="btn btn-outline-secondary">
    <i class="fas fa-chevron-left"></i>
    Retour à la liste
  </a>
{% endblock %}


{% block card_body %}
  {{ form_start(form) }}

    <div class="row justify-content-between">
      <div class="col-sm-6">
        {{ form_row(form.name) }}
      </div>
    </div>

    {{ form_row(form.street) }}

    <div class="row justify-content-between">
      <div class="col-sm-3">
        {{ form_row(form.zipCode) }}
      </div>
    
      <div class="col-sm-9">
        {{ form_row(form.city) }}
      </div>
    </div>

    <div class="d-sm-flex justify-content-between">
      {{ form_row(form.ownerType) }}
      {{ form_row(form.gla) }}
      {{ form_row(form.referent) }}
    </div>

    {{ form_row(form.access) }}
    
    <br>
    
    {# Buttons Submit / Cancel #}
    {{ formButtons(path('app_address_list')) }}
  {{ form_end(form) }}
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('js/functions.js') }}"></script>

  <script>
    (function() {
      let addressName = $('#address_name'),
          addressStreet = $('#address_street'),
          addressCity = $('#address_city');

      addressName.on('input', () => {
        addressName.val(capitalizeText(addressName.val()));
      });
      addressStreet.on('input', () => {
        addressStreet.val(capitalizeText(addressStreet.val()));
      });
      addressCity.on('input', () => {
        addressCity.val(capitalizeText(addressCity.val()));
      });

      // Replace with city name dynamic population
      let addressZipCode = $('#address_zipCode');
      addressZipCode.change(() => {
        const input = addressZipCode.val();
        if (input.match(/^6900\d$/)) {
          $('#address_city').val('LYON');
        }
      });
    })();
  </script>
{% endblock %}
