{% extends 'layout-large.html.twig' %}


{% block title %}
  Logements - {{ parent() }}
{% endblock %}


{% block header_h2 %}
  Liste des logements
{% endblock %}

{% block header_button %}
  {# button to add address only visible for gla and admin #}
  {% if is_granted(constant('App\\Entity\\User::ROLE_GLA')) %}
    <a href="{{ path('app_address_new') }}" class="btn btn-success mr-2">
      <i class="fas fa-plus"></i>
      Ajouter un logement
    </a>
  {% endif %}
  <a href="{{ constant('App\\Utils\\Constant::ADDRESS_SHAREPOINT_FOLDER') }}" target="_blank" class="btn btn-sm btn-secondary mt-3 mt-sm-0">
    <i class="fas fa-external-link-alt"></i>
    Dossier Immeubles
  </a>
{% endblock %}

    
{% block content %}
  {# Search form #}
  <div class="row justify-content-center">
    <div class="col-11 card bg-light py-3 mb-3">
      <div class="d-flex justify-content-between">
        {# Filter address #}
        <div class="d-flex align-items-center">
          <small>Recherche par adresse :</small>
          <div class="input-group-sm input-date mx-2">
            <input type="text" id="addressInput" class="col-sm-auto form-alike-sm" />
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Table #}
  <table class="table table-sm table-hover addresses-table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Adresse <i class="fas fa-sort"></i></th>
        <th scope="col">C.P. <i class="fas fa-sort"></i></th>
        <th scope="col">Ville <i class="fas fa-sort"></i></th>
        <th scope="col">Propriétaire <i class="fas fa-sort"></i></th>
        <th scope="col">Accès <i class="fas fa-sort"></i></th>
        {# edit button only visible for gla and admin #}
        {% if is_granted(constant('App\\Entity\\User::ROLE_GLA')) %}
          <th></th>
        {% endif %}
      </tr>
    </thead>

    <tbody>
      {% for address in addresses %}
        <tr id="address-{{ address.id }}">
          <td>
            {{ address.street }}
            {% if address.name %}
              <br>
              {{ address.name }}
            {% endif %}
          </td>
          <td>{{ address.zipCode }}</td>
          <td>{{ address.city }}</td>
          <td>{{ address.ownerType }}</td>
          <td><div class="access-ellipsis" data-toggle="popover" data-content="{{ address.access }}">{{ address.access }}</div></td>
          {# edit button only visible for gla and admin #}
          {% if is_granted(constant('App\\Entity\\User::ROLE_GLA')) %}
            <td>
              <a href="{{ path('app_address_edit', {'id': address.id}) }}" class="btn btn-sm btn-xs btn-outline-primary">
                <i class="fas fa-edit"></i>
                Modifier
              </a>
            </td>
          {% endif %}    
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('js/functions.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.js"></script>
 
  <script>
    (function() {
      $(function() {
        let table = $('table'),
            searchInput = $('#addressInput');

        addMissionsSorting([table]);
        filterTableWithSearch();

        searchInput.on('input', () => {
          filterTableWithSearch();
        });

        function filterTableWithSearch() {
          let search = capitalizeText(searchInput.val().trim());

          $('tbody tr').each((index, row) => {
            if (isAddressMatching(row, search)) {
              $(row).show();
            } else {
              $(row).hide();
            }
          });
        }

        function isAddressMatching(row, search) {
          let addressMatching = true;

          if (search) {
            addressMatching = $('td:first', row).text().indexOf(search) > 1;
          }

          return addressMatching;
        }
      });
    })();
  </script>
{% endblock %}
